<div class="modal fade" data-backdrop="static" id="masterSkuList" role="dialog" data-backdrop="static" data-keyboard="false"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;"
                 height="100px">
                <button type="button" class="close" data-dismiss="modal" ng-click="cancelmastersDialog()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <p class="dialog-heading-p">List of SKUs</p>
            </div>
            <div class="modal-body" style="overflow-x: hidden;padding-top: 0px">
                <div class="container-fluid">
                    <div class="row row-margin-top row-margin-bottom text-center">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <div class="tab-pane active container-fluid vendorTabHeight" id="tab1">
                                    <span ng-if="genericData.skusListFiltered.length == 0" style="margin-left: 35%; font-size:20px;">SKUs not available.</span>
                                    <table id="productTable"
                                           class="table boldtable table-responsive table-bordered table-hover">
                                        <thead class="data-grid-header">
                                        <tr>
                                            <th class="text-left">&nbsp;&nbsp;SKU Name
                                            </th>
                                            <th class="text-left">&nbsp;&nbsp;SKU Code
                                            </th>
                                            <th class="text-left">&nbsp;&nbsp;Action
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody class="data-grid-data" data-ng-repeat="sku in genericData.skusListFiltered">

                                        <tr>
                                            <td align="left">{{sku.tableSkuName}}</td>
                                            <td align="left">
                                                {{sku.tableSkuClientSkuCode}}
                                            </td>
                                            <td align="left">
                                                <button type="button" style="margin-top:7px;" class="btn btn-sm btn-search-all" md-no-ink="false"
                                                        ng-click="selectSku(sku.idtableSkuId, $event)" placeholder="Select"
                                                >
                                                    Select
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #30373B; min-height: 60px;">
                <button type="button" class="cancel-btn" ng-click="cancelmastersDialog()">Cancel
                </button>
            </div>
        </div>
    </div>
</div>
