
<div class="modal fade" id="returnableGoodsOrderGrnDialog" role="dialog" data-backdrop="static" data-keyboard="false"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" >
       <form name="returnableGoodsOrderGrnForm" novalidate ng-submit="returnableGoodsOrderGrnForm.$valid && SubmitGrn(quickGRNSkuDetails.tableSkuInventoryRecords,returnableGoodsOrderGrnForm)">
         <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;"
                 height="100px">
                <button id="RGGRNCancel1" type="button" class="close" data-dismiss="modal" ng-click="cancelGrnDialog(returnableGoodsOrderGrnForm)">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <p class="dialog-heading-p">Quick GRN</p>
            </div>
            <div class="modal-body" >
                <div class="full-width">
                    <div class="col-md-12 no-padding">
                        <table id="productTable"
                               class="table boldtable table-responsive table-bordered table-hover">
                            <thead class="data-grid-header">
                            <tr>
                                <th id="RGGRNCodeH" class="text-left">Seller SKU ID</th>
                                <th id="RGGRNNameH" class="text-left">SKU Name</th>
                                <th id="RGGRNBatchH" class="text-left">Batch No.</th>
                                <th id="RGGRNVendorH" class="text-left">Vendor</th>
                                <th id="RGGRNMFGH" class="text-left">MFG. Date</th>
                                <th id="RGGRNExDateH" class="text-left">Expiry Date</th>
                                <th id="RGGRNMRPH" class="text-left">MRP</th>
                                <th id="RGGRNMSPH" class="text-left">MSP</th>
                                <th id="RGGRNEQH" class="text-left">Expected Quantity</th>
                                <th id="RGGRNGQH" class="text-left">Good Quantity</th>
                                <th id="RGGRNBQH" class="text-left">Bad Quantity</th>
                            </tr>
                            </thead>
                            <tbody class="data-grid-data">
                            <tr ng-repeat="product in quickGRNSkuDetails.tableSkuInventoryRecords">
                                <td id="RGGRNCode{{$index}}" align="left" >
                                    <span style="color: orangered;" ng-if="product.tableSku.tableSkuClientSkuCode">{{product.tableSku.tableSkuClientSkuCode}}</span>
                                    <span style="color: orangered;" ng-if="!product.tableSku.tableSkuClientSkuCode">-</span>
                                </td>
                                <td id="RGGRNName{{$index}}" align="left" class="short-sku-name" title="{{product.tableSku.tableSkuDescription}}">
                                    <span style="color: orangered;" ng-if="product.tableSku.tableSkuName">{{product.tableSku.tableSkuName}}</span>
                                    <span style="color: orangered;" ng-if="!product.tableSku.tableSkuName">-</span>
                                </td>
                                <td id="RGGRNBatch{{$index}}" align="left">
                                    <span style="color: orangered;" ng-if="product.tableSkuInventory.tableSkuInventoryBatchNo">{{product.tableSkuInventory.tableSkuInventoryBatchNo}}</span>
                                    <span style="color: orangered;" ng-if="!product.tableSkuInventory.tableSkuInventoryBatchNo"></span>
                                </td>
                                <td id="RGGRNVendor{{$index}}" align="left">
                                    <span ng-if="product.tableSkuInventory.tableVendor && product.tableSkuInventory.tableVendor.tableVendorName">{{(product.tableSkuInventory.tableVendor && product.tableSkuInventory.tableVendor.tableVendorName) ? product.tableSkuInventory.tableVendor.tableVendorName : 'NA' }}</span>
                                    <span ng-if="product.tableSkuInventory.tableVendor && !product.tableSkuInventory.tableVendor.tableVendorName">-</span>
                                </td>
                                <td id="RGGRNMFG{{$index}}" align="left">
                                        <span ng-if="product.tableSkuInventory.tableSkuInventoryMfgDate">
                                            {{product.tableSkuInventory.tableSkuInventoryMfgDate | date : 'dd/MM/yyyy'}}
                                        </span>
                                    <span ng-if="!product.tableSkuInventory.tableSkuInventoryMfgDate">
                                           -
                                        </span>
                                </td>
                                <td id="RGGRNExDate{{$index}}" align="left">
                                        <span ng-if="product.tableSkuInventory.tableSkuInventoryExpiryDate">
                                            {{product.tableSkuInventory.tableSkuInventoryExpiryDate | date : 'dd/MM/yyyy'}}
                                        </span>
                                    <span ng-if="!product.tableSkuInventory.tableSkuInventoryExpiryDate">
                                            -
                                        </span>
                                </td>
                                <td id="RGGRNMRP{{$index}}" align="left">
                                        <span>
                                          {{product.tableSkuInventory.tableSkuInventoryMaxRetailPrice | priceOrHyphen}}
                                        </span>
                                </td>
                                <td id="RGGRNMSP{{$index}}" align="left">
                                        <span>
                                            {{product.tableSkuInventory.tableSkuInventoryMinSalePrice | priceOrHyphen}}
                                        </span>
                                </td>
                                <td id="RGGRNEQ{{$index}}" align="left">
                                        <span ng-if="product.tableReturnableGoodsOrderSkuInventoryMapQuantity">
                                            {{product.tableReturnableGoodsOrderSkuInventoryMapQuantity }}
                                        </span>
                                    <span ng-if="product.tableReturnableGoodsOrderSkuInventoryMapBadInwardQty || tableReturnableGoodsOrderSkuInventoryMapBadOutwardQty">
                                            {{((product.tableReturnableGoodsOrderSkuInventoryMapBadInwardQty || 0) + (product.tableReturnableGoodsOrderSkuInventoryMapBadOutwardQty || 0))}}
                                        </span>
                                </td>
                                <td id="RGGRNGQ{{$index}}" align="left" >
                                    <input type="text" class="form-control"
                                           only-integer
                                           prevent-typing-greater
                                           max = "999999999"
                                           style="border:1px solid gray; text-align: right" id="RGGRNGQ{{$index}}FC"
                                           ng-class="{'error-border': returnableGoodsOrderGrnForm.$submitted && returnableGoodsOrderGrnForm.goodQuantity.$error.required }"
                                           ng-required="!product.tableSkuInventory.tableSkuInventoryInwardQcFailedCount"
                                           name="goodQuantity"
                                           ng-model="product.tableSkuInventory.tableSkuInventoryAvailableCount">
                                </td>
                                <td id="RGGRNBQ{{$index}}" align="left">
                                    <input type="text"
                                           only-integer
                                           prevent-typing-greater
                                           max = "999999999"
                                           class="form-control"
                                           style="border:1px solid gray;text-align: right" id="RGGRNBQ{{$index}}BQ"
                                           ng-class="{'error-border': returnableGoodsOrderGrnForm.$submitted && returnableGoodsOrderGrnForm.badQuantity.$error.required }"
                                           name="badQuantity"
                                           ng-required="!product.tableSkuInventory.tableSkuInventoryAvailableCount"
                                           ng-model="product.tableSkuInventory.tableSkuInventoryInwardQcFailedCount">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #30373B; min-height: 60px;">
                <button id="RGGRNCancel2" type="button" class="cancel-btn" ng-click="cancelGrnDialog()">Cancel
                </button>
                <button id="RGGRNSubmit" type="submit"  class="action-btn">Submit</button>
            </div>
        </div>
       </form>
    </div>
</div>
<div class="modal fade" id="askClaimReturnableGoodsAtGrnDialog" role="dialog" data-backdrop="static" data-keyboard="false"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:100vw;">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;"
                 height="100px">
                <button id="RGAGRNCancel1" type="button" class="close" data-dismiss="modal" ng-click="cancelReturnableGoodsOrderAskClaimDialog()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <p class="dialog-heading-p">Raise Claim</p>
            </div>
            <div class="modal-body" style="max-height: none!important;" >
                <p class="text-center">Do you want to raise claim for bad quantity?</p>
            </div>
            <div class="modal-footer" style="background-color: #30373B; min-height: 60px;">
                <button id="RGAGRNCancel2" type="button" class="cancel-btn" ng-click="cancelReturnableGoodsOrderAskClaimDialog()">No
                </button>
                <button id="RGAGRNSubmit" type="button" ng-click="claimConfirmationAction(true,ReturnableGoodsOrderDialogGrnInventory)" class="action-btn">Yes</button>
            </div>
        </div>
    </div>
</div>