<div class="modal fade" data-backdrop="static" id="returnableGoodsOrderClaimDialog" role="dialog" aria-labelledby="editRemarkModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;" height="100px">
                <button id="RGClaimCancel1" type="button" class="close" ng-click="cancelReturnableGoodsOrderClaimDialog()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only" >Close</span>
                </button>
                <p class="dialog-heading-p">Returnable Goods Order Claim</p>
            </div>
            <div class="modal-body" style="overflow-x: hidden;padding-top: 0px">
                <div class="full-width">
                    <table id="productTable"
                           class="table boldtable table-responsive table-bordered table-hover RG-table">
                        <thead class="data-grid-header">
                        <tr>
                            <th id="RGClaimCodeH">&nbsp;&nbsp;Seller SKU ID
                            </th>
                            <th id="RGClaimNameH">&nbsp;&nbsp;SKU Name
                            </th>
                            <th id="RGClaimBQH" style="text-align: right;"><span
                                    class="fa fa-cart-arrow-down fa-md"></span>&nbsp;&nbsp;Bad Quantity
                            </th>

                            <th id="RGClaimCQH" style="text-align: right;"><span
                                    class="fa fa-cart-arrow-down fa-md"></span>&nbsp;&nbsp;Claim Quantity
                            </th>
                            <th id="RGClaimCRH">Claim Reason</th>
                        </tr>
                        </thead>
                        <tbody class="data-grid-data">
                        <tr ng-repeat="claimRecord in orderSkusForClaim track by $index">
                            <td id="RGClaimCode{{$index}}">{{claimRecord.orderSku.tableSku.tableSkuClientSkuCode}}</td>
                            <td id="RGClaimName{{$index}}">{{claimRecord.orderSku.tableSku.tableSkuName}}</td>
                            <td id="RGClaimBQ{{$index}}">{{claimRecord.skuInventory.tableSkuInventoryInwardQcFailedCount}}</td>
                            <td id="RGClaimCQ{{$index}}" style="text-align: right;">
                                <input type="text"
                                       only-integer id="RGClaimCQ{{$index}}CQ"
                                       prevent-typing-greater
                                       max = "999999999"
                                       ng-model="orderSkusForClaim[$index].claimObj.tableReturnableGoodsOrderClaimQuantity"
                                       value = "0"
                                       max="{{claimRecord.skuInventory.tableSkuInventoryInwardQcFailedCount}}"
                                       class="darkgrey-bottom-border-number">
                            </td>
                            <td id="RGClaimCR{{$index}}"><textarea id="RGClaimCR{{$index}}Text" ng-model="orderSkusForClaim[$index].claimObj.tableReturnableGoodsOrderClaimRemarks" class="form-control"></textarea></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #30373B; min-height: 60px;">
                <button id="RGClaimCancel2" type="button" class="cancel-btn" ng-click="cancelReturnableGoodsOrderClaimDialog()">Cancel
                </button>
                <button id="RGClaimClaim" type="button" ng-click="ClaimSku()" class="action-btn">
                    Claim
                </button>
            </div>
        </div>
    </div>
</div>