<div class="modal fade"  id="splitOrderSku" role="dialog" data-backdrop="static" data-keyboard="false"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;"
                 height="100px">
                <button id="SOSCancel1" type="button" class="close" data-dismiss="modal" ng-click="cancelWarehouseSelection()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <p class="dialog-heading-p">Split Order</p>
            </div>
            <div class="modal-body" style="overflow-x: hidden;padding-top: 0px">
                <div class="full-width" style="margin-top: 10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-striped-custom table-condensed table-responsive table-hover">
                            <thead class="main-list-header-order">

                            <tr>
                                <th id="SOSSelectH">
                                    <md-checkbox ng-change="selectAllOrderToSplit(selectObj.selectAll)" ng-model="selectObj.selectAll" style="min-height:0px;"></md-checkbox>Select all
                                </th>
                                <th id="SOSCodeH">
                                    Seller SKU ID
                                </th>
                                <th id="SOSNameH">
                                    SKU Name
                                </th>
                                <th id="SOSStateH">
                                    SKU State
                                </th>
                                <th id="SOSTotalQnty">
                                    Total Quantity
                                </th>
                                <th id="SOSQnty">
                                    Quantity
                                </th>

                            </tr>
                            </thead>
                            <tbody data-ng-repeat="skusforsplit in skusListForOrderSplit" data-ng-switch on="dayDataCollapse[$index]">
                            <tr class="clickable-row-order">
                                <td id="SOSSelect{{$index}}"><md-checkbox id="SOSSelect{{$index}}Check" ng-change="checkForAll()" ng-model="skusforsplit.selected"></md-checkbox></td>
                                <td id="SOSCode{{$index}}"><span class="font">{{skusforsplit.tableSku.tableSkuClientSkuCode}}</span></td>
                                <td title="{{skusforsplit.tableSku.tableSkuDescription}}" class="short-sku-name" id="SOSName{{$index}}"><span class="font">{{skusforsplit.tableSku.tableSkuName}}</span></td>
                                <td id="SOSStateName{{$index}}" class="short-sku-status" title="{{skusforsplit.tableSaleOrderSkuStateType.tableSaleOrderSkuStateTypeString}}"><span class="font">{{skusforsplit.tableSaleOrderSkuStateType.tableSaleOrderSkuStateTypeString}}</span></td>
                                <td id="SOSTotalQntiyy{{$index}}" class="text-center"><span class="font">{{skusforsplit.tableSaleOrderSkusSkuQuantity}}</span></td>
                                <td id="SOSQntity{{$index}}"><input class="form-control" oninput="this.value = Math.abs(this.value)" type="number" min=0 ng-change="checkMaxQntForSplit(skusforsplit.tableSaleOrderSkusSkuQuantity, skusforsplit.quantityToBeSplited, $index)" ng-model="skusforsplit.quantityToBeSplited" style="width:80px;border: 1px solid #b4b4b4;border-radius: 5px!important;font-weight: bold;"></td>
                            </tr>
                            </tbody>

                        </table>
                        <span class="" style="font-size: 14px; margin-left: 5px">
											<md-checkbox id="SOSSC" ng-model="genericData.splitCost" aria-label="Enable" style="min-height:0px;"> </md-checkbox> Split cost</span>

                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #30373B; min-height: 60px;">
                <button id="SOSCS" ng-disabled="isButtonDisable" class="action-btn" ng-click="splitOrderConfirm();">
                    Confirm Split
                </button>
            </div>
        </div>
    </div>
</div>