<script type="text/javascript">
    $(function() {
        // Setting focus
        $('input[name="email"]').focus();

        // Setting width of the alert box
        var alert = $('.alert');
        var formWidth = $('.bootstrap-admin-login-form').innerWidth();
        var alertPadding = parseInt($('.alert').css('padding'));

        if (isNaN(alertPadding)) {
            alertPadding = parseInt($(alert).css('padding-left'));
        }

        $('.alert').width(formWidth - 2 * alertPadding);
    });
</script>
<section class="forgot-password" ng-init="onLoad()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo">
                    <!-- LOGO -->
                    <img src="images/logo-big.png" alt="">
                    <span style="position: relative;">
                            <span style="position: absolute;top:-17px;">Beta</span>
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form class="forgot-pwd-form" novalidate name="forgotPasswordForm" ng-submit="forgotPasswordForm.$valid && resetPassword()">
                    <!-- Heading -->
                    <h1>Forgot Password</h1>
                    <p style="padding-bottom:20px;" ng-hide="forgotlink">
                        Please enter your registered email id below to reset password

                    </p>
                    <p style="padding-bottom:20px;" ng-show="forgotlink">
                        An email has been sent to your mailbox for password reset. If you have not received the link then click on resend.
                        <br>
                        <a href="javascript:void(0);" ng-click="resendLink()" ng-show="linked">Resend Link</a>
                    </p>
                    <!-- Email Area -->
                    <div ng-hide="forgotlink">
                        <div class="row">
                            <!-- User Icon -->
                            <div class="user-icon col-lg-1 col-md-1 col-sm-1 col-xs-1 centered">
                                <img src="images/svg/user_id.svg" />
                            </div>
                            <!-- Input for Email -->
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <input type="email" class="text-lowercase emailInput" ng-model="email" placeholder="Email ID*" name="emailID"
                                       ng-focus="clearEmailCheck()"
                                       maxlength="45"
                                       id="forgotEmail"
                                       required>
                            </div>
                            <!-- Check/Cross Icon -->
                            <div class="validate-icon col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="tick-icon" ng-style="emailValidateCorrectStyle">
                                <img src="images/svg/validation_correct.svg"/>
                                </span>
                                <span class="cross-icon" ng-style="emailValidateWrongStyle">
                                <img src="images/svg/validation_wrong.svg"/>
                            </span>
                            </div>
                        </div>
                        <!-- Horizontal Line -->
                        <div class="row">
                            <div class="generic-hr col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <hr>

                                <div class="error label signup-errorMsg"
                                     ng-show="forgotPasswordForm.$submitted || !forgotPasswordForm.emailID.$pristine">
                                    <small class="error-msg"
                                           ng-show="forgotPasswordForm.emailID.$error.required || forgotPasswordForm.emailID.$pristine">
                                        Email ID is required
                                    </small>
                                    <small class="error-msg"
                                           ng-show="forgotPasswordForm.emailID.$invalid && !forgotPasswordForm.emailID.$error.required">
                                        Email ID is invalid
                                    </small>

                                    <small class="error-msg"
                                           ng-show="!forgotPasswordForm.emailID.$pristine">
                                        {{displayEmailMessage}}
                                    </small>
                                </div>
                            </div>
                        </div>


                        <!-- Send Button -->
                        <div class="row">
                            <div class="reset-btn col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button id="forgotSubmit" type="submit">Send</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- Signup -->
        <div class="signup-area">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!--<a href="#/signUp">Sign Up</a> or-->
                    If you're not a registered user, please <a id="forgotLogin" href="#/login">Login</a> here
                </div>
            </div>
        </div>

        <div class="info-area">
            <div class="row">
                <div class="left-info col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <a id="forgotTerms" tabindex="9" class="terms-link" ng-click="OpenTnC()">Terms of Service</a>
                    | <a id="forgotPrivacy" tabindex="10" ng-click="PrivacyModal()" class="terms-link">Privacy Policy</a>

                </div>
                <div class="right-info col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    Copyright<i class="fa fa-copyright fa-fw" aria-hidden="true"></i>2017 Glaucus Logistics Private Limited

                </div>
            </div>
        </div>
        </div>
</section>
<div class="modal fade" id="TnC" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;" height="100px">
                Terms and Conditions
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>

            </div>
            <div class="modal-body" style="overflow-x: hidden;padding-top: 0px;overflow-y:hidden;height:90vh;">
                <!--<object data="{{content}}" type="application/pdf" target="_blank" style="width:100%;height:100vh;">view</object>-->
                <iframe ng-src="{{TnC}}" style="width:100%;height:100vh;"></iframe>
            </div>
            <div class="modal-footer" style="background-color: #30373B; min-height: 60px;">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="privacy" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;" height="100px">
                Privacy Policy
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>

            </div>
            <div class="modal-body" style="overflow-x: hidden;padding-top: 0px;overflow-y:hidden;height:90vh;">
                <iframe ng-src="{{privacyPolicy}}" style="width:100%;height:100vh;"></iframe>
            </div>
            <div class="modal-footer" style="background-color: #30373B; min-height: 60px;">

            </div>
        </div>
    </div>
</div>
<style>
    .signup-errorMsg{
        position: absolute;
        top: 0px;
        width: 100%;
        float: left;
        left: 0px;
        text-align: right;
    }

</style>