<md-content class="md-padding" style="padding: 0px;overflow: hidden;background-color: white;">
    <div class="row search-row-heading">
        <md-toolbar class="md-small search-row-toolbar search-row">
            <div class="md-toolbar-tools">
                <md-icon md-svg-icon="images/svg/header_search.svg"></md-icon>
                <span class="font">&nbsp;&nbsp;Search Work Order</span>
                <span flex=""></span>
                <md-button class="md-icon-button" aria-label="Favorite" ng-click="togglKitSearchRow()">
                    <md-icon ng-if="searchWorkOrderKitClicked==false" md-svg-icon="images/svg/expand_icon.svg"></md-icon>
                    <md-icon ng-if="searchWorkOrderKitClicked==true" md-svg-icon="images/svg/collaps_icon.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </div>
    <div ng-if="searchWorkOrderKitClicked==true" class="row search-row search-row-content search-row-top-border">
        <div layout="row">
            <div class="inv-search-margin">
                <span class="font">Select Warehouse</span>
                <select ng-model="warehouseid" class="inventoryscreen-dropdown font" ng-change="callDisabledKit();">
                    <option value="">
                        Select
                    </option>
                    <option ng-repeat="option in wareHousesData"
                        value="{{option.idtableWarehouseDetailsId}}">
                        {{option.tableWarehouseDetailsShortname}}
                    </option>
                 </select>
            </div>
            <div>
                <md-datepicker timezoned-date ng-model="start1Date" md-min-date="mainstartminDate" md-max-date="mainstartmaxDate" ng-change="mainsendStartDate(start1Date);callDisabledKit();" md-placeholder="Start Date" style="background-color: inherit;margin-top:3px;"></md-datepicker>
                <md-datepicker timezoned-date ng-model="end1Date" md-min-date="mainendminDate" md-max-date="mainendmaxDate" ng-change="mainsendEndDate(end1Date);callDisabledKit();" md-placeholder="End Date" style="background-color: inherit;margin-top:3px;"></md-datepicker>
                <button type="button" class="btn btn-default mybut"  ng-click="submitWorkOrderKitAction(warehouseid,start1Date,end1Date)">Submit</button>
                <button title="Clear Applied Filters"  class="btn clearFilter" ng-click="clearAction1();warehouseid=null;start1Date=null;end1Date=null">
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn addsharpbutton font pull-right btn-top-margin" ng-click="showAddKitDialog($event)"><img src="images/svg/add.svg" style="height:20px;">&nbsp;Create New Kit</button>
        </div>
    </div>

    <div class="row row-margin-top-small">
        <div class="col-md-12">
            <ul class="nav navbar-nav screen-tabs">
                <li>
                    <button type="button" class="btn sharp font" ng-style="tabsColorKit"
                            ng-click="listOfWorkOrderKitCount('all',1)"><span>All</span><span
                            style="color: #737373 !important; font-weight: 400 !important;">&nbsp;({{allCountKit}})</span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn sharp font" ng-style="tabsColorKit1"
                            ng-click="listOfWorkOrderKitCount('new',1)"><span>New</span><span
                            style="color: #737373 !important; font-weight: 400 !important;">&nbsp;({{newCountKit}})</span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn sharp font" ng-style="tabsColorKit2"
                            ng-click="listOfWorkOrderKitCount('process',1)"><span>In Process</span><span
                            style="color: #737373 !important; font-weight: 400 !important;">&nbsp;({{processCountKit}})</span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn sharp" ng-style="tabsColorKit3"
                            ng-click="listOfWorkOrderKitCount('hold',1)"><span>On Hold</span><span
                            style="color: #737373 !important; font-weight: 400 !important;">&nbsp;({{holdCountKit}})</span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn sharp" ng-style="tabsColorKit4"
                            ng-click="listOfWorkOrderKitCount('closed',1)"><span>Closed</span><span
                            style="color: #737373 !important; font-weight: 400 !important;">&nbsp;({{closedCountKit}})</span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn sharp" ng-style="tabsColorKit5"
                            ng-click="listOfWorkOrderKitCount('cancelled',1)"><span>Cancelled</span><span
                            style="color: #737373 !important; font-weight: 400 !important;">&nbsp;({{cancelledCountKit}})</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>    

    <div class="row main-list">
        <table class="table table-striped-custom table-condensed table-responsive table-hover">
            <thead class="main-list-header-wo">
                <!-- table header -->
                <tr>
                    <td>Work Order ID</td>
                    <td>Warehouse</td>
                    <td>Created Date</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Work Order Status</td>
                    <td>Action</td>
                    <td></td>
                </tr>
            </thead>
            <tbody ng-repeat="workOrderkitData in workOrderkitLists" data-ng-switch on="dayDataCollapseKit[$index]">
                <tr class="clickable-row-wo">
                    <td>{{workOrderkitData.idtableWorkOrderId}}</td>
                    <td>{{workOrderkitData.tableWarehouseDetails.tableWarehouseDetailsShortname}}</td>
                    <td>{{workOrderkitData.tableWorkOrderDatetime | utcToLocalOrHyphen}}</td>
                    <td>{{workOrderkitData.tableWorkOrderScheduledDatetime | utcToLocalOrHyphen}}</td>
                    <td>{{workOrderkitData.tableWorkOrderScheduledEndDatetime | utcToLocalOrHyphen}}</td>
                    <td>{{workOrderkitData.tableWorkOrderStatusType.tableWorkOrderStatusTypeString}}</td>
                    <td>
                        <img ng-src="{{imgsrc1}}" title="Edit" width="20px" height="20px" data-ng-click="editWorkOrders($event,workOrderkitData.idtableWorkOrderId,workOrderkitData.tableWorkOrderType.idtableWorkOrderTypeId)" ng-init="imgsrc1='images/svg/edit.svg'" ng-mouseover="imgsrc1='images/svg/edit_hover.svg'"
                            ng-mouseout="imgsrc1='images/svg/edit.svg'" />&nbsp;|&nbsp;
                        <img ng-if="workOrderkitData.tableWorkOrderStatusType.idtableWorkOrderStatusTypeId!=5" ng-src="{{imgsrc2}}" title="Cancel" width="20px" height="20px" data-ng-click="cancelWorkOrder(workOrderkitData.idtableWorkOrderId,workOrderkitData,$event)" ng-init="imgsrc2='images/svg/deactivate.svg'" ng-mouseover="imgsrc2='images/svg/deactivate_hover.svg'"
                            ng-mouseout="imgsrc2='images/svg/deactivate.svg'" />
                        <img ng-src="{{imgsrc2}}" ng-if="workOrderkitData.tableWorkOrderStatusType.idtableWorkOrderStatusTypeId==5" style="pointer-events: none;cursor: default;" title="Cancel" width="20px" height="20px" data-ng-click="cancelWorkOrder(workOrderkitData.idtableWorkOrderId,workOrderkitData,$event)" ng-init="imgsrc2='images/svg/deactivate.svg'" ng-mouseover="imgsrc2='images/svg/deactivate_hover.svg'"
                            ng-mouseout="imgsrc2='images/svg/deactivate.svg'" />                            
                    </td>
                    <td ng-click="selectTableRowKit($index, workOrderkitData.idtableWorkOrderId);stateTrials(workOrderkitData.tableWorkOrderStateTrails);" ng-show="dayDataCollapseKit == null || dayDataCollapseKit == undefined || dayDataCollapseKit == []"><img src="images/svg/expand_icon.svg" height="22" /></td>
                    <td ng-click="selectTableRowKit($index, workOrderkitData.idtableWorkOrderId);stateTrials(workOrderkitData.tableWorkOrderStateTrails);" data-ng-switch-when="false"><img src="images/svg/expand_icon.svg" height="22" /></td>
                    <td data-ng-switch-when="true" ng-click="selectTableRowKit($index, workOrderkitData.idtableWorkOrderId);stateTrials(workOrderkitData.tableWorkOrderStateTrails);"><img src="images/svg/collaps_icon.svg" height="22" /></td>
                </tr>

                    <tr data-ng-switch-when="true" class="vendor-acc-data-row" data-ng-repeat="tableSkuData in workOrderkitData.tableWorkOrderSkus">
                        <td colspan="3" style="border-right: 1px solid #ddd !important; padding: 20px;">
                            <div>
                                <br> SKU Name:
                                <span style="font-size: 14px;color: #30373B;font-weight: bold">
                                        {{tableSkuData.tableSku.tableSkuName}}
                                    </span>
                                <br> Seller SKU ID:
                                <span style="font-size: 14px;color: #30373B;font-weight: bold ">
                                        {{tableSkuData.tableSku.tableSkuClientSkuCode}}
                                    </span>
                                <br> SKU Description:
                                <span style="font-size: 14px;color: #30373B;font-weight: bold ">
                                        {{tableSkuData.tableSku.tableSkuDescription}}
                                </span>
                            </div>
                        </td>
                        <td colspan="4">
                            <ul ng-if="fullTrialsArray.length>= 4" class="progress-indicator nocenter stacked" style="list-style: none;">
                                <li class="completed"><span class="bubble"><img src="images/svg/done_icon.svg"
                                                                        style="width: 20px;height: 20px;"/><label
                                style="padding-top: 20px;font-weight: bold;padding-left: 10px;">{{fullTrialsArray[0]}}</label></span>
                                </li>
                                <li class="completed"><span class="bubble"><img src="images/svg/done_icon.svg"
                                                                        style="width: 20px;height: 20px;"/><label
                                style="padding-top: 20px;font-weight: bold;padding-left: 10px;">{{fullTrialsArray[1]}}</label></span>
                                </li>
                                <li class="completed"><span class="bubble"><img src="images/svg/done_icon.svg"
                                                                        style="width: 20px;height: 20px;"/><label
                                style="padding-top: 20px;font-weight: bold;padding-left: 10px">{{fullTrialsArray[2]}}</label></span>
                                </li>
                                <li class="completed"><span class="bubble1"><img src="images/svg/current_icon.svg"
                                                                         style="width: 20px;height: 20px;"/><label
                                style="padding-top: 20px;font-weight: bold;padding-left: 10px;color:black">{{fullTrialsArray[3]}}</label></span>
                                </li>
                            </ul>
                            <ul ng-if="fullTrialsArray.length == 1" class="progress-indicator nocenter stacked" style="list-style: none;">
                                <li><span><img src="images/svg/current_icon.svg" style="width: 20px;height: 20px;"/><label
                                style="padding-top: 20px;font-weight: bold;padding-left: 10px;">{{fullTrialsArray[0]}}</label></span>
                                </li>
                            </ul>
                            <ul ng-if="fullTrialsArray.length == 2" class="progress-indicator nocenter stacked" style="list-style: none;">
                                <li class="completed"><span class="bubble"><img src="images/svg/done_icon.svg"
                                                                        style="width: 20px;height: 20px;"/><label
                                style="padding-top: 20px;font-weight: bold;padding-left: 10px">{{fullTrialsArray[0]}}</label></span>
                                </li>
                                <li><span><img src="images/svg/current_icon.svg" style="width: 20px;height: 20px;"/><label
                                style="padding-top: 20px;font-weight: bold;padding-left: 10px;">{{fullTrialsArray[1]}}</label></span>
                                </li>
                            </ul>
                            <ul ng-if="fullTrialsArray.length == 3" class="progress-indicator nocenter stacked" style="list-style: none; padding-top: 30px !important;">
                                <li class="completed"><span class="bubble"><img src="images/svg/done_icon.svg"
                                                                        style="width: 20px;height: 20px;"/><label
                                style="padding-top: 20px;font-weight: bold;padding-left: 10px">{{fullTrialsArray[0]}}</label></span>
                                </li>
                                <li class="completed"><span class="bubble"><img src="images/svg/done_icon.svg"
                                                                        style="width: 20px;height: 20px;"/><label
                                style="padding-top: 20px;font-weight: bold;padding-left: 10px">{{fullTrialsArray[1]}}</label></span>
                                </li>
                                <li><span><img src="images/svg/current_icon.svg" style="width: 20px;height: 20px;"/><label
                                style="padding-top: 20px;font-weight: bold;padding-left: 10px;">{{fullTrialsArray[2]}}</label></span>
                                </li>
                            </ul>
                        </td>
                        <!-- TRIALS LENGTH == 1 -->
                        <td colspan="3" ng-if="fullTrialsArray.length==1">
                            <!-- Hold WareHouse Not Allocated -->
                            <div class="wrapper" ng-if="fullIdArray[0]==7" style="padding-top:3px">
                                <span style="padding-left: 0px">
                              <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                      style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                  Select
                              </button>
                              </span>
                            </div>
                            <!-- Hold Fraud Validation Failed -->
                            <div class="wrapper" ng-if="fullIdArray[0]==5" style="padding-top:3px">
                                <span style="padding-left: 0px">
                              <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                      style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                  Select
                              </button>
                              </span>
                            </div>
                            <!-- Hold Stock Unavailable -->
                            <div class="wrapper" ng-if="fullIdArray[0]==10" style="padding-top:3px">
                                <span style="padding-left: 0px">
                              <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                      style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                  Select
                              </button>
                              </span>
                                <span style="padding-left: 20px;padding-top: 10px;font-size:12px;color: #00ACE4;">
                              Raise PO
                              </span>
                            </div>
                            <!-- Hold Packing Material Unavailable -->
                            <div class="wrapper" ng-if="fullIdArray[0]==12" style="padding-top:3px">
                                <span style="padding-left: 0px">
                              <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                      style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                  Select
                              </button>
                              </span>
                                <span style="padding-left: 20px;padding-top: 10px;font-size:12px;color: #00ACE4;">
                              Raise PO
                              </span>
                            </div>
                            <!-- Hold Awaiting Shipping Details -->
                            <div class="wrapper" ng-if="fullIdArray[0]==14" style="padding-top:3px">
                                <span style="padding-left: 0px">
                                    <div ng-if="orderData.tableSalesChannelValueInfo.idtableSalesChannelValueInfoId==1"
                                         style="padding-left: 0px; width: 80px; height: 29px; text-align: center; vertical-align: middle; background-color: transparent; border-style: groove;">
                                        <a style="color:#F0592B;" ng-click="redirectToFileUploadUrl()"
                                           href="{{baseSchedulePickUpUrl}}/{{orderData.idtableSaleOrderId}}/{{tableSkuData.idtableSaleOrderSkusId}}"
                                           download>
                                            Select
                                        </a>
                                    </div>

                                    <button ng-if="orderData.tableSalesChannelValueInfo.idtableSalesChannelValueInfoId!=1"
                                            ng-click="openShippingCarrierBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,tableSkuData,orderData.tableSaleOrderClientOrderNo,orderData.tableSalesChannelValueInfo.idtableSalesChannelValueInfoId)"
                                            style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                        Select
                                    </button>
                                </span>
                            </div>
                            <!-- Hold ReturnWarehouseNotAllocated Details -->
                            <div class="wrapper" ng-if="fullIdArray[0]==21" style="padding-top:3px">
                                <span style="padding-left: 0px">
                              <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                      style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                  Select
                              </button>
                              </span>
                            </div>
                            <!-- Hold AwaitingReturnShippingDetails Details -->
                            <div class="wrapper" ng-if="fullIdArray[0]==23" style="padding-top:3px">
                                <span style="padding-left: 0px">
                              <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                      style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                  Select
                              </button>
                              </span>
                            </div>
                        </td>
                        <!-- TRIALS LENGTH == 2 -->
                        <td colspan="3" ng-if="fullTrialsArray.length==2">
                            <!-- Hold WareHouse Not Allocated -->
                            <div class="orderJourneyWrapperTrialLength2" ng-if="fullIdArray[1]==7" style="padding-top:3px">
                                <span style="padding-left: 0px">
                              <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                      style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                  Select
                              </button>
                              </span>
                            </div>
                            <!-- Hold Fraud Validation Failed -->
                            <div class="orderJourneyWrapperTrialLength2" ng-if="fullIdArray[1]==5" style="padding-top:3px">
                                <span style="padding-left: 0px">
                              <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                      style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                  Select
                              </button>
                              </span>
                            </div>
                            <!-- Hold Stock Unavailable -->
                            <div class="orderJourneyWrapperTrialLength2" ng-if="fullIdArray[1]==10" style="padding-top:3px">
                                <span style="padding-left: 0px">
                              <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                      style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                  Select
                              </button>
                              </span>
                                <span style="padding-left: 20px;padding-top: 10px;font-size:12px;color: #00ACE4;">
                              Raise PO
                              </span>
                            </div>
                            <!-- Hold Packing Material Unavailable -->
                            <div class="orderJourneyWrapperTrialLength2" ng-if="fullIdArray[1]==12" style="padding-top:3px">
                                <span style="padding-left: 0px">
                              <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                      style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                  Select
                              </button>
                              </span>
                                <span style="padding-left: 20px;padding-top: 10px;font-size:12px;color: #00ACE4;">
                              Raise PO
                              </span>
                            </div>
                            <!-- Hold Awaiting Shipping Details -->
                            <div class="orderJourneyWrapperTrialLength2" ng-if="fullIdArray[1]==14" style="padding-top:3px">
                                <span style="padding-left: 0px">
                                  <div ng-if="orderData.tableSalesChannelValueInfo.idtableSalesChannelValueInfoId==1"
                                       style="padding-left: 0px; width: 80px; height: 29px; text-align: center; vertical-align: middle; background-color: transparent; border-style: groove;">
                                      <a style="color:#F0592B;" ng-click="redirectToFileUploadUrl()"
                                         href="{{baseSchedulePickUpUrl}}/{{orderData.idtableSaleOrderId}}/{{tableSkuData.idtableSaleOrderSkusId}}"
                                         download>Select</a>
                                  </div>

                                  <button ng-if="orderData.tableSalesChannelValueInfo.idtableSalesChannelValueInfoId!=1"
                                          ng-click="openShippingCarrierBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,tableSkuData,orderData.tableSaleOrderClientOrderNo,orderData.tableSalesChannelValueInfo.idtableSalesChannelValueInfoId)"
                                          style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                      Select
                                  </button>
                                </span>
                            </div>
                            <!-- Hold ReturnWarehouseNotAllocated Details -->
                            <div class="orderJourneyWrapperTrialLength2" ng-if="fullIdArray[1]==21" style="padding-top:3px">
                                <span style="padding-left: 0px">
                              <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                      style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                  Select
                              </button>
                              </span>
                            </div>
                            <!-- Hold AwaitingReturnShippingDetails Details -->
                            <div class="orderJourneyWrapperTrialLength2" ng-if="fullIdArray[1]==23" style="padding-top:3px">
                                <span style="padding-left: 0px">
                              <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                      style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                  Select
                              </button>
                              </span>
                            </div>
                        </td>
                        <!-- TRIALS LENGTH == 3 -->
                        <td colspan="3" ng-if="fullTrialsArray.length==3">
                            <!-- Hold WareHouse Not Allocated -->
                            <div class="orderJourneyWrapperTrialLength3" ng-if="fullIdArray[2]==7" style="padding-top:3px">
                                <span style="padding-left: 0px">
                                  <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                          style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                      Select
                                  </button>
                                </span>
                            </div>
                            <!-- Hold Fraud Validation Failed -->
                            <div class="orderJourneyWrapperTrialLength3" ng-if="fullIdArray[2]==5" style="padding-top:3px">
                                <span style="padding-left: 0px">
                                    <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                            style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                        Select
                                    </button>
                                </span>
                            </div>
                            <!-- Hold Stock Unavailable -->
                            <div class="orderJourneyWrapperTrialLength3" ng-if="fullIdArray[2]==10" style="padding-top:3px">
                                <span style="padding-left: 0px">
                                  <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                          style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                      Select
                                  </button>
                              </span>
                                <span style="padding-left: 20px;padding-top: 10px;font-size:12px;color: #00ACE4;">
                              Raise PO
                              </span>
                            </div>
                            <!-- Hold Packing Material Unavailable -->
                            <div class="orderJourneyWrapperTrialLength3" ng-if="fullIdArray[2]==12" style="padding-top:3px">
                                <span style="padding-left: 0px">
                                  <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)" style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                      Select
                                  </button>
                                </span>
                                <span style="padding-left: 20px;padding-top: 10px;font-size:12px;color: #00ACE4;">
                                  Raise PO
                                </span>
                            </div>
                            <!-- Hold Awaiting Shipping Details -->
                            <div class="orderJourneyWrapperTrialLength3" ng-if="fullIdArray[2]==14" style="padding-top:3px">
                                <span style="padding-left: 0px">
                                  <div ng-if="orderData.tableSalesChannelValueInfo.idtableSalesChannelValueInfoId==1" style="padding-left: 0px; width: 80px; height: 29px; text-align: center; vertical-align: middle; background-color: transparent; border-style: groove;">
                                      <a style="color:#F0592B;" ng-click="redirectToFileUploadUrl()" href="{{baseSchedulePickUpUrl}}/{{orderData.idtableSaleOrderId}}/{{tableSkuData.idtableSaleOrderSkusId}}" download>
                                         Select
                                      </a>
                                  </div>
                                  <button ng-if="orderData.tableSalesChannelValueInfo.idtableSalesChannelValueInfoId!=1" ng-click="openShippingCarrierBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,tableSkuData,orderData.tableSaleOrderClientOrderNo,orderData.tableSalesChannelValueInfo.idtableSalesChannelValueInfoId)" style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                      Select
                                  </button>
                                </span>
                            </div>
                            <!-- Hold ReturnWarehouseNotAllocated Details -->
                            <div class="orderJourneyWrapperTrialLength3" ng-if="fullIdArray[2]==21" style="padding-top:3px">
                                <span style="padding-left: 0px">
                                  <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                          style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                      Select
                                  </button>
                              </span>
                            </div>
                            <!-- Hold AwaitingReturnShippingDetails Details -->
                            <div class="orderJourneyWrapperTrialLength3" ng-if="fullIdArray[2]==23" style="padding-top:3px">
                                <span style="padding-left: 0px">
                                  <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                          style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                      Select
                                  </button>
                                </span>
                            </div>
                        </td>
                        <!-- TRIALS LENGTH == 4 -->
                        <td colspan="3" ng-if="fullTrialsArray.length>=4">
                            <!-- Hold WareHouse Not Allocated -->
                            <div class="orderJourneyWrapperTrialLength4" ng-if="fullIdArray[3]==7" style="padding-top:3px">
                                <span style="padding-left: 0px">
                              <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                      style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                  Select
                              </button>
                              </span>
                            </div>
                            <!-- Hold Fraud Validation Failed -->
                            <div class="orderJourneyWrapperTrialLength4" ng-if="fullIdArray[3]==5" style="padding-top:3px">
                                <span style="padding-left: 0px">
                              <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                      style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                  Select
                              </button>
                              </span>
                            </div>
                            <!-- Hold Stock Unavailable -->
                            <div class="orderJourneyWrapperTrialLength4" ng-if="fullIdArray[3]==10" style="padding-top:3px">
                                <span style="padding-left: 0px">
                              <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                      style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                  Select
                              </button>
                              </span>
                                <span style="padding-left: 20px;padding-top: 10px;font-size:
                                 12px;
                                 color: #00ACE4;">
                              Raise PO
                              </span>
                            </div>
                            <!-- Hold Packing Material Unavailable -->
                            <div class="orderJourneyWrapperTrialLength4" ng-if="fullIdArray[3]==12" style="padding-top:3px">
                                <span style="padding-left: 0px">
                              <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                      style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                  Select
                              </button>
                              </span>
                                <span style="padding-left: 20px;padding-top: 10px;font-size:
                                 12px;
                                 color: #00ACE4;">
                              Raise PO
                              </span>
                            </div>
                            <!-- Hold Awaiting Shipping Details -->
                            <div class="orderJourneyWrapperTrialLength4" ng-if="fullIdArray[3]==14" style="padding-top:3px">
                                <span style="padding-left: 0px">
                                  <div ng-if="orderData.tableSalesChannelValueInfo.idtableSalesChannelValueInfoId==1"
                                       style="padding-left: 0px; width: 80px; height: 29px; text-align: center; vertical-align: middle; background-color: transparent; border-style: groove;">
                                      <a style="color:#F0592B;" ng-click="redirectToFileUploadUrl()"
                                         href="{{baseSchedulePickUpUrl}}/{{orderData.idtableSaleOrderId}}/{{tableSkuData.idtableSaleOrderSkusId}}"
                                         download>Select</a>
                                  </div>
                                  <button ng-if="orderData.tableSalesChannelValueInfo.idtableSalesChannelValueInfoId!=1"
                                          ng-click="openShippingCarrierBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,tableSkuData,orderData.tableSaleOrderClientOrderNo,orderData.tableSalesChannelValueInfo.idtableSalesChannelValueInfoId)"
                                          style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                      Select
                                  </button>
                                </span>
                            </div>

                            <!-- Hold ReturnWarehouseNotAllocated Details -->
                            <div class="orderJourneyWrapperTrialLength4" ng-if="fullIdArray[3]==21" style="padding-top:3px">
                                <span style="padding-left: 0px">
                              <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                      style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                  Select
                              </button>
                              </span>
                            </div>
                            <!-- Hold AwaitingReturnShippingDetails Details -->
                            <div class="orderJourneyWrapperTrialLength4" ng-if="fullIdArray[3]==23" style="padding-top:3px">
                                <span style="padding-left: 0px">
                              <button ng-click="openWareHouseBox($event,orderData.idtableSaleOrderId,tableSkuData.idtableSaleOrderSkusId,orderData.tableSaleOrderClientOrderNo)"
                                      style="color:#F0592B;width:80px;background-color:transparent;border-style: groove;text-align: center;">
                                  Select
                              </button>
                              </span>
                            </div>
                        </td>
                    </tr>                
            </tbody>
        </table>
        <!-- END TABLE -->
        <div class="row" style="margin-top: 0px;">
<!--             <div class="col-md-6">
                <p class="showingOrderLabel" ng-show="allworkOrderKitSize<workOrdKitCount">Showing Kits {{allworkOrderKitStart + 1}} to {{allworkOrderKitSize}} of {{workOrdKitCount}}
                </p>
                <p class="showingOrderLabel" ng-show="allworkOrderKitSize>=workOrdKitCount && workOrdKitCount!=0">Showing Kits {{allworkOrderKitStart + 1}} to {{workOrdKitCount}} of {{workOrdKitCount}}
                </p>
                <p class="showingOrderLabel" ng-show="workOrdKitCount==0">No Kits Available
                </p>
            </div> -->

            <div class="col-md-6" ng-show="defaultTabKit == 'all'">
                <p class="showingOrderLabel" ng-show="allworkOrderKitSize<allCountKit">Showing Kits {{allworkOrderKitStart + 1}} to {{allworkOrderKitSize}} of {{allCountKit}}
                </p>

                <p class="showingOrderLabel" ng-show="allworkOrderKitSize>=allCountKit && allCountKit!=0">Showing Kits {{allworkOrderKitStart + 1}} to {{allCountKit}} of {{allCountKit}}
                </p>

                <p class="showingOrderLabel" ng-show="allCountKit==0">No Kits Available
                </p>
            </div>
            <div class="col-md-6" ng-show="defaultTabKit == 'new'">
                <p class="showingOrderLabel" ng-show="allworkOrderKitSize<newCountKit">Showing Kits {{allworkOrderKitStart + 1}} to {{allworkOrderKitSize}} of {{newCountKit}}
                </p>

                <p class="showingOrderLabel" ng-show="allworkOrderKitSize>=newCountKit && newCountKit!=0">Showing Kits {{allworkOrderKitStart + 1}} to {{newCountKit}} of {{newCountKit}}
                </p>

                <p class="showingOrderLabel" ng-show="newCountKit==0">No Kits Available
                </p>
            </div>
            <div class="col-md-6" ng-show="defaultTabKit == 'process'">
                <p class="showingOrderLabel" ng-show="allworkOrderKitSize<processCountKit">Showing Kits {{allworkOrderKitStart + 1}} to {{allworkOrderKitSize}} of {{processCountKit}}
                </p>

                <p class="showingOrderLabel" ng-show="allworkOrderSize>=processCountKit && processCountKit!=0">Showing Kits {{allworkOrderStart + 1}} to {{processCountKit}} of {{processCountKit}}
                </p>

                <p class="showingOrderLabel" ng-show="processCountKit==0">No Kits Available
                </p>
            </div>

            <div class="col-md-6" ng-show="defaultTabKit == 'hold'">
                <p class="showingOrderLabel" ng-show="allworkOrderKitSize<holdCountKit">Showing Kits {{allworkOrderKitStart + 1}} to {{allworkOrderKitSize}} of {{holdCountKit}}
                </p>

                <p class="showingOrderLabel" ng-show="allworkOrderKitSize>=holdCountKit && holdCountKit!=0">Showing Kits {{allworkOrderKitStart + 1}} to {{holdCountKit}} of {{holdCountKit}}
                </p>

                <p class="showingOrderLabel" ng-show="holdCountKit==0">No Kits Available
                </p>
            </div>

            <div class="col-md-6" ng-show="defaultTabKit == 'closed'">
                <p class="showingOrderLabel" ng-show="allworkOrderKitSize<closedCountKit">Showing Kits {{allworkOrderKitStart + 1}} to
                    {{allworkOrderKitSize}} of {{closedCountKit}}
                </p>

                <p class="showingOrderLabel" ng-show="allworkOrderSize>=closedCountKit && closedCountKit!=0">Showing Kits {{allworkOrderKitStart + 1}} to {{closedCountKit}} of {{closedCountKit}}
                </p>

                <p class="showingOrderLabel" ng-show="closedCountKit==0">No Kits Available
                </p>
            </div>

            <div class="col-md-6" ng-show="defaultTabKit == 'cancelled'">
                <p class="showingOrderLabel" ng-show="allworkOrderKitSize<cancelledCountKit">Showing Kits {{allworkOrderKitStart + 1}} to {{allworkOrderKitSize}} of {{cancelledCountKit}}
                </p>

                <p class="showingOrderLabel" ng-show="allworkOrderSize>=cancelledCountKit && cancelledCountKit!=0">Showing Kits {{allworkOrderKitStart + 1}} to {{cancelledCountKit}} of {{cancelledCountKit}}
                </p>

                <p class="showingOrderLabel" ng-show="cancelledCountKit==0">No Kits Available
                </p>
            </div>            
            <div class="col-md-6">
                <span class="pull-right">
                    <!-- pager -->
                    <ul ng-if="vmPagerWoKitStart.pages.length" class="pagination">
                        <li ng-show="vmPagerWoKitStart.currentPage == 1" ng-class="{disabled:vmPagerWoKitStart.currentPage == 1}">
                            <a>&lt;&lt; First</a>
                        </li>
                        <li ng-show="vmPagerWoKitStart.currentPage > 1" ng-class="{disabled:vmPagerWoKitStart.currentPage == 1}">
                            <a ng-click="listOfWorkOrderKitCount(defaultTabKit,1)">&lt;&lt; First</a>
                        </li>
                        <li ng-show="vmPagerWoKitStart.currentPage == 1" ng-class="{disabled:vmPagerWoKitStart.currentPage == 1}">
                            <a>&lt; Previous</a>
                        </li>
                        <li ng-show="vmPagerWoKitStart.currentPage > 1" ng-class="{enabled:vmPagerWoKitStart.currentPage > 1}">
                            <a ng-click="listOfWorkOrderKitCount(defaultTabKit,vmPagerWoKitStart.currentPage - 1)">&lt; Previous</a>
                        </li>
                        <li ng-repeat="page in vmPagerWoKitStart.pages" ng-class="{active:vmPagerWoKitStart.currentPage == page}">
                            <a ng-click="listOfWorkOrderKitCount(defaultTabKit,page)">{{page}}</a>
                        </li>
                        <li ng-show="vmPagerWoKitStart.currentPage < vmPagerWoKitStart.totalPages" ng-class="{enabled:vmPagerWoKitStart.currentPage > vmPagerWoKitStart.totalPages}">
                            <a ng-click="listOfWorkOrderKitCount(defaultTabKit,vmPagerWoKitStart.currentPage + 1)">Next &gt;</a>
                        </li>
                        <li ng-show="vmPagerWoKitStart.currentPage == vmPagerWoKitStart.totalPages" ng-class="{disabled:vmPagerWoKitStart.currentPage == vmPagerWoKitStart.totalPages}">
                            <a>Next &gt;</a>
                        </li>
                        <li ng-show="vmPagerWoKitStart.currentPage < vmPagerWoKitStart.totalPages" ng-class="{disabled:vmPagerWoKitStart.currentPage == vmPagerWoKitStart.totalPages}">
                            <a ng-click="listOfWorkOrderKitCount(defaultTabKit,vmPagerWoKitStart.totalPages)">Last &gt;&gt;</a>
                        </li>
                        <li ng-show="vmPagerWoKitStart.currentPage == vmPagerWoKitStart.totalPages" ng-class="{disabled:vmPagerWoKitStart.currentPage == vmPagerWoKitStart.totalPages}">
                            <a>Last &gt;&gt;</a>
                        </li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
</md-content>
<!-- Add New Kit Dialog -->
<div ng-include src="'workOrderVas/workOrders/addNewKitDialog.html?version=1.0.0'"></div>
<div ng-include src="'workOrderVas/workOrders/cancelWorkOrder.html?version=1.0.0'"></div>
