<div class="modal fade" id="purchaseInvoicePdf" role="dialog" data-backdrop="static" data-keyboard="false"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;"
                 height="100px">
                <button id="POIPCancel1" type="button" class="close" data-dismiss="modal" ng-click="closePurchaseInvoicePdf()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <p class="dialog-heading-p">Purchase Invoice</p>
            </div>
            <div class="modal-body" style="overflow-x: hidden;padding-top: 0px">
                <div class="full-width" style="min-height: 600px; height: 100%;">
                    <iframe ng-src="{{content}}" style="width:100%;height:100vh;"></iframe>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #30373B; min-height: 60px;">
                <button id="POIPSubmit" id="confirmCancel" class="action-btn" ng-click="closePurchaseInvoicePdf();">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>