<script type="text/javascript">
    $(function () {
        // Setting focus
        $('input[name="email"]').focus();

        // Setting width of the alert box
        var alert = $('.alert');
        var formWidth = $('.bootstrap-admin-login-form').innerWidth();
        var alertPadding = parseInt($('.alert').css('padding'));

        if (isNaN(alertPadding)) {
            alertPadding = parseInt($(alert).css('padding-left'));
        }

        $('.alert').width(formWidth - 2 * alertPadding);
    });

    function AvoidSpace(event) {
    var k = event ? event.which : window.event.keyCode;
    if (k == 32) return false;
}
</script>

<section class="login-signup">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="logo">
                    <!-- LOGO -->
                    <img src="images/logo-big.png" alt="">
                    <span style="position: relative;">
                            <span style="position: absolute;top:-17px;">Beta</span>
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form class="login-form" name="ResetPassword" novalidate
                      ng-submit="ResetPassword.$valid && resetPass()" ng-show="reset">
                    <div>
                        <!-- Heading -->
                        <h1>Reset Password</h1>

                        <!-- Email Area -->
                        <div class="row">
                            <!-- User Icon -->
                            <div class="user-icon col-xs-1 centered">
                                <img src="images/svg/password.svg">
                            </div>
                            <!-- Input for Email -->
                            <div class="col-xs-10">
                                <input type="password" ng-model="pwd" name="password" minlength="8" maxlength="14" ng-blur="checkFPwd()"
                                       ng-focus="clearFPwdCheck()"
                                       title="Password must be at least 8 characters long and should contain one number,one letter and one special character"
                                       required="required" placeholder="Password*" onkeypress="return AvoidSpace(event)">
                            </div>
                            <!-- Check/Cross Icon -->
                            <div class="validate-icon col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                    <span class="cross-icon" ng-style="FPwdValidateStyle">
                                        <img src="images/svg/validation_wrong.svg"/>
                                    </span>
                                    <span class="cross-icon"
                                          ng-hide="helpIcon"
                                          title="Password Guidelines"
                                          data-toggle="popover"
                                          data-trigger="hover"
                                          data-content="Password must be at least 8 characters long and should contain one number,one letter and one special character">
                                            <img src="images/svg/help.svg"/>
                                        </span>

                            </div>
                        </div>
                        <!-- Horizontal Line -->
                        <div class="row" style="position: relative;">
                            <div class="generic-hr col-xs-12">
                                <hr>
                            </div>

                            <div class="error ng-hide reset-errorMsg"
                                 ng-show="ResetPassword.$submitted && ResetPassword.password.$invalid"
                                 aria-hidden="true">
                                <small class="error-msg text-danger" ng-show="ResetPassword.password.$error.minlength">
                                    Minimum length should be of 8 characters
                                </small>
                            </div>
                            <div class="error ng-hide reset-errorMsg"
                                 ng-show="ResetPassword.$submitted && ResetPassword.password.$invalid"
                                 aria-hidden="true">
                                <small class="error-msg text-danger" ng-show="ResetPassword.password.$error.required">
                                    Password is required
                                </small>
                            </div>

                            <div class="error ng-hide reset-errorMsg"
                                 ng-show="ResetPassword.$submitted && ResetPassword.password.$invalid"
                                 aria-hidden="true">
                                <small class="error-msg text-danger" ng-show="ResetPassword.password.$error.maxlength">
                                    Maximum length should be of 14 characters
                                </small>
                            </div>
                            <div class="error ng-hide reset-errorMsg"
                                 ng-show="!RegistrationForm.password.$pristine">
                                <small class="error-msg"
                                       ng-show="!RegistrationForm.password.$error.required && !RegistrationForm.password.$invalid">
                                    <span class="error-msg">{{displayFPwdMessage}}</span>
                                </small>
                            </div>
                        </div>

                        <br>
                        <br>
                        <div class="row">
                            <!-- Unlock Icon -->
                            <div class="unlock-icon col-xs-1">
                                <img src="images/svg/password.svg">
                            </div>
                            <!-- Input for Password -->
                            <div class="col-xs-10">
                                <input type="password" ng-model="cPwd" name="cPwd" ng-focus="RemoveCheckMessage()" ng-blur="checkCPwd()" required
                                       ng-focus="clearCPwdCheck()"
                                       placeholder="Confirm Password*" onkeypress="return AvoidSpace(event)"
                                       minlength="8" maxlength="14"
                                       title="Must be same as password"
                                       >
                            </div>
                            <!-- Cross Icon -->
                            <div class="validate-icon col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <img ng-show="MismatchPassword" src="images/svg/validation_wrong.svg" style="width:25px;"/>
                            </div>

                        </div>

                        <!-- Horizontal Line   Please re-enter the password, your passwords don't match-->
                        <div class="row" style="position: relative;">
                            <div class="generic-hr col-xs-12">
                                <hr>
                            </div>
                            <div class="error ng-hide reset-errorMsg"
                                 ng-show="ResetPassword.$submitted && ResetPassword.cPwd.$invalid"
                                 aria-hidden="true">
                                <small class="error-msg text-danger" ng-show="ResetPassword.cPwd.$error.required">
                                    Confirm Password is required
                                </small>
                            </div>
                            <div class="error ng-hide reset-errorMsg"
                                 ng-show="MismatchPassword"
                                 aria-hidden="true">
                                <small class="error-msg text-danger" ng-show="MismatchPassword">
                                    Please re-enter the password, your passwords don't match
                                </small>
                            </div>

                        </div>
                        <!-- Error or Success Message -->
                        <!--<div class="row">-->
                        <!--<div class="label col-xs-12">-->
                        <!--<span class="error-msg">{{displayPasswordMessage}}</span>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!-- Submit Button -->
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="login-btn col-xs-12">
                                <button type="submit">Submit</button>
                            </div>
                        </div>

                    </div>

                </form>
                <form class="login-form" ng-show="resetsuccess">
                    <div >
                        <h3 class="text-center">You have created a new password please <a href="#/login">login</a>
                            again.</h3>

                    </div></form>
                <form class="login-form" ng-show="verifiedfailed">

                    <!-- Heading -->
                    <h1>Verification Failed</h1>

                    <!-- Giant Tick -->
                    <div class="giant-tick">
                        <img src="images/svg/validation_wrong.svg" />
                    </div>

                    <!-- Instructions -->
                    <p ng-if="errorMessage">
                        <!--The url is either invalid or you already have activated your account. Please use the link that has been send to your email-->
                        {{ errorMessage}}
                    </p>
                    <p ng-if="documentation">
                        <!--The url is either invalid or you already have activated your account. Please use the link that has been send to your email-->
                        {{ documentation}}
                    </p>

                    <!-- Back to Login Button -->
                    <div class="row">
                        <div class="signup-success-login col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <a href="javascript:void(0);" ng-click="ResendLink()">
                                Resend password reset link
                            </a>
                        </div>
                    </div>

                    <div class="questions-text row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p>
                                <span class="semi-bold-text">
                                    Questions? Connect with us.
                                </span>
                                <br> Email Support:
                                <a href="mailto:support@gscmaven.com">support@gscmaven.com</a> | Call: 011 25712345
                            </p>
                        </div>
                    </div>
                </form>
                <form class="login-form" ng-show="resendlink">

                    <!-- Heading -->
                    <h1>Password reset link sent</h1>

                    <p>Password reset link has been sent again to your registered email</p>

                    <!-- Back to Login Button -->
                    <div class="row">
                        <div class="signup-success-login col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <a href="javascript:void(0);" ng-click="ResendLink()">
                                Resend Activation Link
                            </a>
                        </div>
                    </div>

                    <div class="questions-text row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p>
                                <span class="semi-bold-text">
                                    Questions? Connect with us.
                                </span>
                                <br> Email Support:
                                <a href="mailto:support@gscmaven.com">support@gscmaven.com</a> | Call: 011 25712345
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="info-area">
            <div class="row">
                <div class="left-info col-xs-4">
                    <a href="javascript:void(0);" tabindex="9" class="terms-link" ng-click="OpenTnC()">Terms of Service</a>
                    | <a href="javascript:void(0);" tabindex="10" ng-click="PrivacyModal()" class="terms-link">Privacy Policy</a>

                </div>
                <div class="right-info col-xs-8">
                    Copyright<i class="fa fa-copyright fa-fw" aria-hidden="true"></i>2017 Glaucus Logistics Private
                    Limited
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="TnC" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;" height="100px">
                Terms and Conditions
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>

            </div>
            <div class="modal-body" style="overflow-x: hidden;padding-top: 0px;overflow-y:hidden;height:90vh;">
                <!--<object data="{{content}}" type="application/pdf" target="_blank" style="width:100%;height:100vh;">view</object>-->
                <iframe ng-src="{{TnC}}" style="width:100%;height:100vh;"></iframe>
            </div>
            <div class="modal-footer" style="background-color: #30373B; min-height: 60px;">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="privacy" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;" height="100px">
                Privacy Policy
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>

            </div>
            <div class="modal-body" style="overflow-x: hidden;padding-top: 0px;overflow-y:hidden;height:90vh;">
                <iframe ng-src="{{privacyPolicy}}" style="width:100%;height:100vh;"></iframe>
            </div>
            <div class="modal-footer" style="background-color: #30373B; min-height: 60px;">

            </div>
        </div>
    </div>
</div>

<style>
    .generic-hr {
        margin-bottom: 0px;
    }
    .reset-errorMsg{
        position: absolute;
        top: 0px;
        width: 100%;
        float: left;
        left: 0px;
        text-align: right;
    }
    .popover{
        width:200px;
    }
</style>
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>