.main-list-header-bulkupload {
    background: #30373B;
    color: #f5fafd !important;
}

.main-list-header-bulkupload>tr {
    border: 1px solid #C0C0C0;
    height: 45px;
}

.main-list-header-bulkupload>tr>td {
    padding-top: 10px !important;
    font-size: 14px;
    font-weight: 600;
}

.main-list-header-bulkupload>tr>td:first-child {
    width: 35%;
    padding-left: 40px !important;
}

.main-list-header-bulkupload>tr>td:nth-child(2) {
    width: 65%;
}

.clickable-row-bulkupload {
    cursor: pointer;
    height: 50px;
    border-bottom: 1px solid #C0C0C0;
}

.clickable-row-bulkupload:hover {
    background: #D3DDDF;
}

.clickable-row-bulkupload>td {
    padding-top: 15px !important;
    font-size: 14px;
    color: #30373B;
    text-transform: capitalize;
}

.clickable-row-bulkupload>td:first-child {
    font-size: 14px;
    font-weight: 600;
}

.clickable-row-bulkupload>td:nth-child(2) {
    font-size: 15px;
    color: #F0592B !important;
    font-weight: 700;
}

.btn.active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #E9EEEF !important;
    outline: none !important;
}

.sharp {
    width: auto;
}

.bulk-upload-img {
    background: url(../../images/svg/upload_active.svg);
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.bulk-upload-img:hover {
    background: url(../../images/svg/upload_hover.svg);
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.download-template-img {
    background: url(../../images/svg/download_active.svg);
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.download-template-img:hover {
    background: url(../../images/svg/download_hover.svg);
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.bulk-upload-text, .bulk-upload-text a {
    color: #30373B !important;
    font-size: 18px;
    cursor: pointer;
}

.bulk-upload-text:hover, .bulk-upload-text a:hover {
    color: #F0592B !important;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

.upload-file-dialog-row {
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bulkFile-heading-col {
    margin-top: 5px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: #E9EEEF;
}
.tab-pane{padding: 0px;}

.main-list-header-order {
    background: #30373B;
    color: #f5fafd !important;
}

.main-list-header-order a, .main-list-header-order a:hover, .main-list-header-order a:focus {
    color: #f5fafd !important;
    text-decoration: none;
}

.main-list-header-order>tr {
    border: 1px solid #C0C0C0;
    height: 45px;
}

.main-list-header-order>tr>td {
    padding-top: 10px !important;
    font-size: 14px;
    font-weight: 600;
}

.main-list-header-order>tr>td:first-child {
    width: 17%;
    padding-left: 30px !important;
}

.main-list-header-order>tr>td:nth-child(2) {
    padding-left: 25px;
    width: 15%;
}

.main-list-header-order>tr>td:nth-child(3) {
    padding-left: 25px;
    width: 14%;
}

.main-list-header-order>tr>td:nth-child(4) {
    width: 8%;
}

.main-list-header-order>tr>td:nth-child(5) {
    width: 13%;
    text-align: center;
}

.main-list-header-order>tr>td:nth-child(6) {
    width: 8%;
    text-align: center;
}

.main-list-header-order>tr>td:nth-child(7) {
    width: 10%;
    text-align: right;
}

.main-list-header-order>tr>td:nth-child(8) {
    width: 7%;
    text-align: center;
    padding-left: 20px;
}

.main-list-header-order>tr>td:nth-child(9) {
    width: 5%;
    /*border-right: 1px solid #C0C0C0;*/
}

.clickable-row-order {
    cursor: pointer;
    height: 50px;
    border-bottom: 1px solid #C0C0C0;
}

.clickable-row-order:hover {
    background: #D3DDDF;
}

.clickable-row-order>td {
    padding-top: 14px !important;
    font-size: 14px;
    color: #30373B;
}

.clickable-row-order>td:first-child {
    padding-left: 30px !important;
    font-size: 16px;
    color: #F0592B !important;
    font-weight: 700;
}

.clickable-row-order>td:nth-child(2) {
    padding-left: 25px;
}

.clickable-row-order>td:nth-child(3) {
    padding-left: 25px;
}

.clickable-row-order>td:nth-child(5) {
    text-align: center;
}

.clickable-row-order>td:nth-child(6) {
    text-align: center;
}

/*.clickable-row-order>td:nth-child(7) {*/
    /*color: #00ACE4 ;*/
    /*font-weight: 600;*/
    /*text-align: right;*/
/*}*/

.clickable-row-order>td:nth-child(8) {
    text-align: center;
    padding-left: 20px;
}

.clickable-row-order>td:nth-child(8)>img.disabled {
    cursor: not-allowed;
}

.clickable-row-order>td:nth-child(9) {
    /*border-right: 1px solid #C0C0C0;*/
    padding-left: 15px;
}

.clickable-row-order>td:nth-child(10) {
    border-right: 1px solid #C0C0C0;
    padding-left: 15px;
}
