<div class="modal fade" id="addKitDialog"  data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <form name="addKitSkuForm" accessible-form novalidate ng-submit="addKitSkuForm.$valid && saveKitData(kitData,addKitSkuForm)">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;" height="100px">
                    <button id="newKSkuCancel1" type="button" class="close" ng-click="cancelSkuData(addKitSkuForm);">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <p ng-show="dialogBoxKitMode=='add'" style="font-size: 20px;font-weight: bolder;color: #30373B;">Add New Kit</p>
                    <p ng-show="dialogBoxKitMode=='edit'" style="font-size: 20px;font-weight: bolder;color: #30373B;">Update Kit</p>
                    <span flex></span>
                </div>

                <div class="modal-body">

                    <ul class="nav nav-tabs" id="kitSkuTab">
                        <li class="active" ><a data-target="#kitSkuTab1" data-toggle="tab" class="btn sharp" ng-click="showKitSkuTab=true;">Single SKU</a></li>
                        <li ><a data-target="#kitSkuTab2" data-toggle="tab" class="btn sharp" ng-click="showKitSkuTab=false;">Bulk SKU</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="kitSkuTab1" class="tab-pane active container-fluid">
                            <div class="row row-margin-top">
                                <div class="col-md-6">
                                    <div class="row" ng-show="dialogBoxKitMode=='edit'">
                                        <!-- SKU ID -->
                                        <div class="col-md-4 form-row-height">
                                            <span class="form-label-height semi-bold-text">System SKU ID</span>
                                        </div>
                                        <div class="col-md-8 form-row-height">
                                            <input type="text" id="newKSkuId"
                                                   ng-model="kitData.tableSkuSystemNo"
                                                   ng-readonly="true"
                                                   class="form-control darkgrey-bottom-border font input-less-padding" style="border: none !important; margin-top: 3px; color: #F0592B; font-weight: 600;">
                                        </div>
                                    </div>
                                    <div class="row" ng-show="dialogBoxKitMode=='add'">
                                        <!-- SKU ID -->
                                        <div class="col-md-12 form-row-height">
                                            <span class="form-label-height semi-bold-text" style="color: #737373;">NOTE: System SKU ID will be auto generated</span>
                                        </div>
                                    </div>
                                    <div class="row padding-top-15">
                                        <!-- Seller SKU ID -->
                                        <div class="col-md-4 form-row-height">
                                            <span class="form-label-height semi-bold-text">Seller SKU ID <span style="color:red">*</span></span>
                                        </div>
                                        <div class="col-md-8 form-row-height">
                                            <input placeholder="Enter Seller SKU ID"
                                                   type="text" id="newKSkuSId"
                                                   name="sellerSkuId" required ng-minlength="2" ng-maxlength="45"
                                                   ng-model="kitData.tableSkuClientSkuCode"
                                                   ng-change="skuClientCodeChanged(kitData.tableSkuClientSkuCode)"
                                                   class="form-control darkgrey-bottom-border font input-less-padding">
                                        </div>
                                        <div class="col-md-offset-4 col-md-8">
                                     <span ng-if="addKitSkuForm.$submitted && addKitSkuForm.sellerSkuId.$error.required"  class="error-message">
                                         Please enter the Seller SKU ID
                                     </span>
                                            <span ng-if="addKitSkuForm.sellerSkuId.$dirty && addKitSkuForm.sellerSkuId.$error.maxlength"  class="error-message">
                                         Seller SKU ID should not exceed 45 characters.
                                     </span>
                                            <span ng-if="addKitSkuForm.sellerSkuId.$dirty && addKitSkuForm.sellerSkuId.$error.minlength"  class="error-message">
                                         Seller SKU ID should have at least 2 characters.
                                     </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-3 no-padding sku-drop-box-container">
                                            <div ngf-drop="changeSkuImgUrl1($file)" ngf-select="changeSkuImgUrl1($file)" ngf-select-disabled="isFile1SelectDisabled()" ng-model="skuImgFile1" class="sku-drop-box cursorPointer" accept=".jpeg,.png,.jpg" ngf-pattern="'.jpeg,.png,.jpg'">
                                                <div ng-class="{'img-holder': isImg1Present()}">
                                                    <img ng-src="{{skuImgUrl1}}" ng-mouseover="skuImageHover1()" ng-mouseleave="skuImageHover1()" ng-class="{darken: isImg1Present()}">
                                                    <div class="skuOverlay"></div>
                                                </div>
                                                <div class="del-img-btn text-center" ng-if="isImg1Present()">
                                                    <md-button id="newKSku1Del" class="md-icon-button" md-no-ink="true" ng-click="confirmDeleteSkuImage('1')" placeholder="Delete">
                                                        <md-icon md-svg-src="images/svg/delete_white.svg" aria-label="Delete Image"></md-icon>
                                                    </md-button>
                                                </div>
                                                <div class="view-img-btn text-center" ng-if="isImg1Present()">
                                                    <md-button id="newKSku1View" class="md-icon-button" md-no-ink="true" ng-click="viewSkuImage(skuImgUrl1)" placeholder="Delete">
                                                        <md-icon md-svg-src="images/svg/view.svg" aria-label="Delete Image"></md-icon>
                                                    </md-button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 no-padding sku-drop-box-container">
                                            <div ngf-drop="changeSkuImgUrl2($file)" ngf-select="changeSkuImgUrl2($file)" ngf-select-disabled="isFile2SelectDisabled()" ng-model="skuImgFile2" class="sku-drop-box cursorPointer" accept=".jpeg,.png,.jpg" ngf-pattern="'.jpeg,.png,.jpg'">
                                                <div ng-class="{'img-holder': isImg2Present()}">
                                                    <img ng-src="{{skuImgUrl2}}" ng-mouseover="skuImageHover2()" ng-mouseleave="skuImageHover2()" ng-class="{darken: isImg2Present()}">
                                                    <div class="skuOverlay"></div>
                                                </div>
                                                <div class="del-img-btn text-center" ng-if="isImg2Present()">
                                                    <md-button id="newKSku2Del" class="md-icon-button" md-no-ink="true" ng-click="confirmDeleteSkuImage('2')">
                                                        <md-icon md-svg-src="images/svg/delete_white.svg" aria-label="Delete Image"></md-icon>
                                                    </md-button>
                                                </div>
                                                <div class="view-img-btn text-center" ng-if="isImg2Present()">
                                                    <md-button id="newKSku2View" class="md-icon-button" md-no-ink="true" ng-click="viewSkuImage(skuImgUrl2)" placeholder="Delete">
                                                        <md-icon md-svg-src="images/svg/view.svg" aria-label="Delete Image"></md-icon>
                                                    </md-button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 no-padding sku-drop-box-container">
                                            <div ngf-drop="changeSkuImgUrl3($file)" ngf-select="changeSkuImgUrl3($file)" ngf-select-disabled="isFile3SelectDisabled()" ng-model="skuImgFile3" class="sku-drop-box cursorPointer" accept=".jpeg,.png,.jpg" ngf-pattern="'.jpeg,.png,.jpg'">
                                                <div ng-class="{'img-holder': isImg3Present()}">
                                                    <img ng-src="{{skuImgUrl3}}" ng-mouseover="skuImageHover3()" ng-mouseleave="skuImageHover3()" ng-class="{darken: isImg3Present()}">
                                                    <div class="skuOverlay"></div>
                                                </div>
                                                <div class="del-img-btn text-center" ng-if="isImg3Present()">
                                                    <md-button id="newKSku3Del" class="md-icon-button" md-no-ink="true" ng-click="confirmDeleteSkuImage('3')">
                                                        <md-icon md-svg-src="images/svg/delete_white.svg" aria-label="Delete Image"></md-icon>
                                                    </md-button>
                                                </div>
                                                <div class="view-img-btn text-center" ng-if="isImg3Present()">
                                                    <md-button id="newKSku3View" class="md-icon-button" md-no-ink="true" ng-click="viewSkuImage(skuImgUrl3)" placeholder="Delete">
                                                        <md-icon md-svg-src="images/svg/view.svg" aria-label="Delete Image"></md-icon>
                                                    </md-button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 no-padding sku-drop-box-container">
                                            <div ngf-drop="changeSkuImgUrl4($file)" ngf-select="changeSkuImgUrl4($file)" ngf-select-disabled="isFile4SelectDisabled()" ng-model="skuImgFile4" class="sku-drop-box cursorPointer" accept=".jpeg,.png,.jpg" ngf-pattern="'.jpeg,.png,.jpg'">
                                                <div ng-class="{'img-holder': isImg4Present()}">
                                                    <img ng-src="{{skuImgUrl4}}" ng-mouseover="skuImageHover4()" ng-mouseleave="skuImageHover4()" ng-class="{darken: isImg4Present()}">
                                                    <div class="skuOverlay"></div>
                                                </div>
                                                <div class="del-img-btn text-center" ng-if="isImg4Present()">
                                                    <md-button id="newKSku4Del" class="md-icon-button" md-no-ink="true" ng-click="confirmDeleteSkuImage('4')">
                                                        <md-icon md-svg-src="images/svg/delete_white.svg" aria-label="Delete Image"></md-icon>
                                                    </md-button>
                                                </div>
                                                <div class="view-img-btn text-center" ng-if="isImg4Present()">
                                                    <md-button id="newKSku4View" class="md-icon-button" md-no-ink="true" ng-click="viewSkuImage(skuImgUrl4)" placeholder="Delete">
                                                        <md-icon md-svg-src="images/svg/view.svg" aria-label="Delete Image"></md-icon>
                                                    </md-button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row margin-top-9">
                                <div class="col-md-2 form-row-height">
                                    <span class="form-label-height semi-bold-text">Name <span style="color:red">*</span></span>
                                </div>
                                <div class="col-md-4 form-row-height">
                                    <input capitalize-first
                                           placeholder="Enter Name"
                                           type="text" id="newKSkuName"
                                           name="skuName" required ng-maxlength="512" ng-minlength="2"
                                           ng-model="kitData.tableSkuName"
                                           ng-change="skuNameChanged(kitData.tableSkuName)"
                                           class="form-control darkgrey-bottom-border font input-less-padding">
                                </div>
                                <div class="col-md-2 form-row-height">
                                    <span class="form-label-height semi-bold-text">ISBN/UPC/EAN</span>
                                </div>
                                <div class="col-md-4 form-row-height">
                                    <input placeholder="Enter ISBN/UPC/EAN" name="isbn"
                                           type="text" id="newKSkuUpc" ng-maxlength="45"
                                           ng-model="kitData.tableSkuPrimaryUpcEan"
                                           ng-change="upcCodeChanged(kitData.tableSkuPrimaryUpcEan)" class="form-control darkgrey-bottom-border font input-less-padding">
                                </div>
                                <div class="col-md-offset-2 col-md-4">
                             <span ng-if="addKitSkuForm.$submitted && addKitSkuForm.skuName.$error.required"  class="error-message">
                                 Please enter the name
                             </span>
                                    <span ng-if="addKitSkuForm.skuName.$dirty && addKitSkuForm.skuName.$error.maxlength"  class="error-message">
                                 Name should not exceed 512 characters.
                             </span>
                                    <span ng-if="addKitSkuForm.skuName.$dirty && addKitSkuForm.skuName.$error.minlength"  class="error-message">
                                 Name should have at least 2 characters.
                             </span>
                                </div>
                                <div class="col-md-offset-2 col-md-4">
                             <span ng-if="addKitSkuForm.isbn.$dirty && addKitSkuForm.isbn.$error.maxlength"  class="error-message">
                                 ISBN/UPC/EAN should not exceed 45 characters.
                             </span>
                                </div>
                            </div>
                            <div class="row margin-top-9">
                                <div class="col-md-2 form-row-height">
                                    <span class="form-label-height semi-bold-text">Alternate code </span>
                                </div>
                                <div class="col-md-4 form-row-height">
                                    <input placeholder="Enter alternate code" name="alternateCode" ng-maxlength="45" type="text" id="newKSkuACode" ng-model="kitData.tableSkuAlternateCode" class="form-control darkgrey-bottom-border font input-less-padding">
                                </div>
                                <div class="col-md-2 form-row-height">
                                    <span class="form-label-height semi-bold-text">Shelf Life Type <span style="color:red">*</span></span>
                                </div>
                                <div class="col-md-4 form-row-height" >
                                    <select id="newKSkuSLT"
                                            name="tableSkuShelfLifeType" required
                                            style="padding: 0;padding-top: 7px;" class="full-width darkgrey-bottom-border"
                                            ng-change="shelfTypeChanged(kitData.tableSkuShelfLifeType)"
                                            ng-model="kitData.tableSkuShelfLifeType"
                                            ng-options="option as option.tableSkuShelfLifeTypeString for option in shelfTypeLists">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                                <div  class="col-md-offset-2 col-md-4">
                             <span ng-if="addKitSkuForm.alternateCode.$dirty && addKitSkuForm.alternateCode.$error.maxlength" class="error-message">
                                 Alternate code should not exceed 45 characters.
                             </span>
                                </div>
                                <div ng-if="addKitSkuForm.$submitted && addKitSkuForm.skuName.$error.required" class="col-md-offset-2 col-md-4">
                             <span class="error-message">
                                 Please select the Shelf Life Type
                             </span>
                                </div>

                            </div>
                            <div class="row margin-top-9">
                                <div class="col-md-2 form-row-height">
                                    <span class="form-label-height semi-bold-text">Category <span style="color:red">*</span></span>
                                </div>

                                <div class="col-md-4 form-row-height">
                                    <select ng-change="skuCategoryChanged(kitData.tableSkuNode)"
                                            title="{{kitData.tableSkuNode.skuNodeName}}"
                                            ng-model="kitData.tableSkuNode"
                                            name="category" required
                                            id="newKSkuCategory"
                                            style="padding: 0;padding-top: 7px;" class="full-width darkgrey-bottom-border"
                                            ng-options="option as option.skuNodeName for option in categoryTypeLists">
                                        <option value="">Select</option>
                                    </select>

                                </div>
                                <div class="col-md-2 form-row-height">
                                    <span class="form-label-height semi-bold-text">Brand <span style="color:red">*</span></span>
                                </div>
                                <div class="col-md-3 form-row-height">
                                    <select ng-change="skuBrandChanged(kitData.tableSkuBrandCode)"
                                            ng-model="kitData.tableSkuBrandCode"
                                            name="brand" required
                                            id="newKSkuBrand"
                                            style="padding: 0;padding-top: 7px;" class="full-width darkgrey-bottom-border"
                                            ng-options="option as option.tableSkuBrandCodeString for option in brandTypeLists">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                                <div class="col-md-1 form-row-height" style="padding-left: 0px !important;">
                                    <img src="images/svg/blue_add.svg" style="width: 20px; height: 20px; cursor: pointer;" ng-click="openBrandBox();">
                                </div>
                                <div class="col-md-offset-2 col-md-4">
                             <span ng-if="addKitSkuForm.$submitted && addKitSkuForm.category.$error.required" class="error-message">
                                 Please select the Category
                             </span>
                                </div>
                                <div class="col-md-offset-2 col-md-4">
                             <span ng-if="addKitSkuForm.$submitted && addKitSkuForm.brand.$error.required"  class="error-message">
                                 Please select the Brand
                             </span>
                                    <span ng-if="addKitSkuForm.brand.$dirty && addKitSkuForm.brand.$error.maxlength"  class="error-message">
                                 Brand should not exceed 45 characters,
                             </span>
                                </div>


                            </div>
                            <div class="row row-margin-top-small">
                                <div class="col-md-2 form-row-height" ng-hide="true">
                                    <span class="form-label-height semi-bold-text">Classification</span>
                                </div>
                                <div class="col-md-4 form-row-height" ng-hide="true">
                                    <select ng-model="kitData.tableSkuAbcClassification"
                                            style="padding: 0;padding-top: 7px;" class="full-width darkgrey-bottom-border"
                                            id="newKSkuClassif"
                                            ng-options="option as option for option in skuClassificationArray">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                                <div class="col-md-2 form-row-height">
                                    <span class="form-label-height semi-bold-text">HSN <span ng-if="clientInvoiceEnabled && (clientGstType =='Composition GST' || clientGstType =='Regular GST')" style="color:red">*</span></span>
                                </div>
                                <div class="col-md-4 form-row-height ">
                                    <input ng-change="skuHSNChanged(kitData.tableHsn.tableHsnCode)"
                                           only-integer placeholder="Enter HSN number"
                                           type="text" id="newKSkuHsn" ng-maxlength="9"
                                           name="hsnnumber" ng-required="clientInvoiceEnabled && (clientGstType =='Composition GST' || clientGstType =='Regular GST')"
                                           ng-model="kitData.tableHsn.tableHsnCode" class="form-control darkgrey-bottom-border font input-less-padding">
                                </div>
                                <div class="col-md-offset-8 col-md-4">
                                         <span ng-if="addKitSkuForm.$submitted && addKitSkuForm.hsnnumber.$error.required"  class="error-message">
                                             Please enter the HSN
                                         </span>
                                    <span ng-if="addKitSkuForm.hsnnumber.$dirty && addKitSkuForm.hsnnumber.$error.maxlength"  class="error-message">
                                             HSN should not exceed 9 characters.
                                         </span>

                                </div>


                            </div>
                            <div class="row row-margin-top-small">
                                <div class="col-md-2 form-row-height">
                                    <span class="form-label-height semi-bold-text">Description <span style="color:red">*</span></span>
                                </div>
                                <div class="col-md-10 form-row-height">
                                <textarea type="text" ng-change="skuDescChanged(kitData.tableSkuDescription)"
                                          placeholder="Enter Description"
                                          name="descr" required ng-maxlength="2048" ng-minlength="2"
                                          id="newKSkuDesc"
                                          ng-model="kitData.tableSkuDescription"
                                          class="form-control darkgrey-bottom-border font input-less-padding"></textarea>
                                </div>
                                <div class="col-md-offset-2 col-md-10">
                                 <span ng-if="addKitSkuForm.$submitted && addKitSkuForm.descr.$error.required"  class="error-message">
                                     Please enter the Description
                                 </span>
                                    <span ng-if="addKitSkuForm.descr.$dirty && addKitSkuForm.descr.$error.maxlength"  class="error-message">
                                     Description should not exceed 2048 characters.
                                 </span>
                                    <span ng-if="addKitSkuForm.descr.$dirty && addKitSkuForm.descr.$error.minlength"  class="error-message">
                                     Description should have at least 2 characters.
                                 </span>
                                </div>
                            </div>
                            <div class="row row-margin-top">
                                <md-toolbar class="md-small accordion-color">
                                    <div class="md-toolbar-tools">
                                        <span class="font-big">Product Dimension</span>
                                        <span flex=""></span>
                                        <md-button id="newKSkuDim" class="md-icon-button" aria-label="Favorite" ng-click="productDiminvRow()">
                                            <md-icon ng-if="productDimClicked==false" md-svg-icon="images/svg/expand_icon.svg"></md-icon>
                                            <md-icon ng-if="productDimClicked==true" md-svg-icon="images/svg/collaps_icon.svg"></md-icon>
                                        </md-button>
                                    </div>
                                </md-toolbar>
                            </div>
                            <div ng-show="productDimClicked==true" class="row">
                                <div class="col-md-12 row-margin-top-small">
                                    <div class="col-md-2 form-row-height">
                                        <span class="form-label-height semi-bold-text">Dimension Unit</span>
                                    </div>
                                    <div class="col-md-4 form-row-height">
                                        <select style="padding: 0;padding-top: 7px;" class="full-width darkgrey-bottom-border"
                                                id="newKSkuDimU"
                                                ng-change="dimUnitChanged(kitData.tableSkuUodmType)"
                                                ng-model="kitData.tableSkuUodmType"
                                                ng-options="option as option.tableSkuUodmTypeString for option in dimLists">
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 form-row-height">
                                        <span class="form-label-height semi-bold-text">Length</span>
                                    </div>
                                    <div class="col-md-4 form-row-height">
                                        <input id="newKSkuLength"
                                               name="length" ng-required="kitData.tableSkuUodmType"
                                               floating precision="2"
                                               type="text" min="0"
                                               ng-model="kitData.tableSkuLength"
                                               placeholder="Enter Length"
                                               ng-change="skuLengthChanged(kitData.tableSkuLength)"
                                               class="form-control darkgrey-bottom-border-number font input-less-padding">
                                    </div>
                                    <div ng-if="addKitSkuForm.$submitted && addKitSkuForm.length.$error.required"  class="col-md-offset-8 col-md-4">
                                                 <span  class="error-message">
                                                     Please enter the Length
                                                 </span>
                                    </div>

                                </div>
                                <div class="col-md-12 row-margin-top-small">
                                    <div class="col-md-2 form-row-height">
                                        <span class="form-label-height semi-bold-text">Width</span>
                                    </div>
                                    <div class="col-md-4 form-row-height">
                                        <input floating precision="2" type="text"
                                               name="width" ng-required="kitData.tableSkuUodmType"
                                               min="0" ng-model="kitData.tableSkuWidth"
                                               id="newKSkuWidth" placeholder="Enter Width"
                                               ng-change="skuWidthChanged(kitData.tableSkuWidth)"
                                               class="form-control darkgrey-bottom-border-number font input-less-padding">
                                    </div>
                                    <div class="col-md-2 form-row-height">
                                        <span class="form-label-height semi-bold-text">Height</span>
                                    </div>
                                    <div class="col-md-4 form-row-height">
                                        <input floating precision="2" type="text"
                                               min="0" id="tableSkuHeight"
                                               placeholder="Enter Height"
                                               id="newKSkuHeight"
                                               name="height" ng-required="kitData.tableSkuUodmType"
                                               ng-change="skuHeightChanged(kitData.tableSkuHeight)" ng-model="kitData.tableSkuHeight"
                                               class="form-control darkgrey-bottom-border-number font input-less-padding">
                                    </div>
                                    <div class="col-md-offset-2 col-md-4">
                                 <span ng-if="addKitSkuForm.$submitted && addKitSkuForm.width.$error.required"   class="error-message">
                                     Please enter the Width
                                 </span>
                                    </div>
                                    <div   class="col-md-offset-2 col-md-4">
                                 <span ng-if="addKitSkuForm.$submitted && addKitSkuForm.height.$error.required"  class="error-message">
                                     Please enter the Height
                                 </span>
                                    </div>
                                </div>
                                <div class="col-md-12 row-margin-top-small">
                                    <div class="col-md-2 form-row-height">
                                        <span class="form-label-height semi-bold-text">Weight Unit</span>
                                    </div>
                                    <div class="col-md-4 form-row-height">
                                        <select style="padding: 0;padding-top: 7px;" class="full-width darkgrey-bottom-border"
                                                id="newKSkuWeightU" ng-change="weightUnitChanged(kitData.tableSkuUowmType)"
                                                ng-model="kitData.tableSkuUowmType"
                                                ng-options="option as option.tableSkuUowmTypeString for option in weightLists">
                                            <option value="">Select</option>

                                        </select>
                                    </div>
                                    <div class="col-md-2 form-row-height">
                                        <span class="form-label-height semi-bold-text">Weight</span>
                                    </div>
                                    <div class="col-md-4 form-row-height">
                                        <input type="text" floating precision="3"
                                               id="newKSkuWeight"
                                               name="weight" ng-required="kitData.tableSkuUowmType"
                                               placeholder="Enter Weight"
                                               ng-change="skuWeightChanged(kitData.tableSkuWeight)"
                                               ng-model="kitData.tableSkuWeight"
                                               class="form-control darkgrey-bottom-border-number font input-less-padding">
                                    </div>
                                    <div  class="col-md-offset-8 col-md-4">
                                      <span ng-if="addKitSkuForm.$submitted && addKitSkuForm.weight.$error.required"  class="error-message">
                                          Please enter the Weight
                                      </span>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="attributeListArray.length>0" class="row row-margin-top-x-small">
                                <md-toolbar class="md-small accordion-color">
                                    <div class="md-toolbar-tools">
                                        <span class="font-big">Attributes Details</span>
                                        <span flex=""></span>
                                        <md-button id="newKSkuAttr" class="md-icon-button" aria-label="Favorite" ng-click="attributesinvRow()">
                                            <md-icon ng-if="attributesClicked==false" md-svg-icon="images/svg/expand_icon.svg"></md-icon>
                                            <md-icon ng-if="attributesClicked==true" md-svg-icon="images/svg/collaps_icon.svg"></md-icon>
                                        </md-button>
                                    </div>
                                </md-toolbar>
                            </div>
                            <div ng-if="attributesClicked==true" class="row">
                                <div class="col-md-12" style="margin-top: 25px;margin-bottom:25px;">
                                    <div class="row" ng-repeat="key in attributeListArray track by $index">
                                        <div class="col-md-6 form-row-height">
                                            <span class="font" style="text-transform: capitalize;">{{key.attributeTypeString}}</span>
                                        </div>
                                        <div class="col-md-6 form-row-height" >
                                            <select ng-if = "key.attributeType == 'select'"
                                                    id="newKSkuAttr{{key.attributeTypeString}}"
                                                    ng-change="skuAttributeValueChanged(key, attributeListSelectedValuesArray[key.attributeTypeString])"
                                                    ng-model="attributeListSelectedValuesArray[key.attributeTypeString]"
                                                    style="padding: 0;padding-top: 7px;" class="full-width darkgrey-bottom-border"
                                                    ng-options="option as option.nodeAttributePossibleValuesValue for option in key.tableSkuNodeAttributePossibleValueses track by option.nodeAttributePossibleValuesValue ">
                                                <option value="">Select</option>
                                            </select>
                                            <input  class="form-control darkgrey-bottom-border font input-less-padding margin-top-9" ng-if = "key.attributeType == 'text'" ng-model="attributeListSelectedValuesArray[key.attributeTypeString]" ng-blur="skuAttributeValueAdded(key, attributeListSelectedValuesArray[key.attributeTypeString])">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row row-margin-top-x-small">
                                <md-toolbar class="md-small accordion-color">
                                    <div class="md-toolbar-tools">
                                        <span class="font-big">Properties</span>
                                        <span flex=""></span>
                                        <md-button id="newKSkuProp" class="md-icon-button" aria-label="Favorite" ng-click="propinvRow()">
                                            <md-icon ng-if="propertiesClicked==false" md-svg-icon="images/svg/expand_icon.svg"></md-icon>
                                            <md-icon ng-if="propertiesClicked==true" md-svg-icon="images/svg/collaps_icon.svg"></md-icon>
                                        </md-button>
                                    </div>
                                </md-toolbar>
                            </div>
                            <div ng-if="propertiesClicked==true" class="row">
                                <div class="col-md-12" style="padding-left: 25px !important;">
                                    <div class="row row-margin-top-small row-margin-bottom-small">
                                        <div class="col-md-6 font" ng-repeat="item in items">
                                            <md-checkbox id="newKSku{{item}}" ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                                {{ item }} <span ng-if="exists(item, selected)"></span>
                                            </md-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-margin-top-x-small">
                                <md-toolbar class="md-small accordion-color">
                                    <div class="md-toolbar-tools">
                                        <span class="font-big">Kit Details</span>
                                        <span flex=""></span>
                                        <md-button id="newKSkuKitD" class="md-icon-button" aria-label="Favorite" ng-click="kitDetinvRow()">
                                            <md-icon ng-if="kitDetailsClicked==false" md-svg-icon="images/svg/expand_icon.svg"></md-icon>
                                            <md-icon ng-if="kitDetailsClicked==true" md-svg-icon="images/svg/collaps_icon.svg"></md-icon>
                                        </md-button>
                                    </div>
                                </md-toolbar>
                            </div>
                            <div ng-if="kitDetailsClicked==true" class="row">
                                <div class="col-md-12" style="padding-left: 25px !important;">

                                    <div class="row row-margin-top-small" ng-show="dialogBoxKitMode=='add'  || (dialogBoxKitMode=='edit' && kitData.tableSkuIsKitEditable==true)">
                                        <div class="col-md-3">
                                            <angucomplete-alt ng-class="{submitted: isProductSelected}" id="kits"
                                                              placeholder="Search product" pause="400"
                                                              selected-object="kitData.productObj" remote-url="{{baseSkuUrl}}"
                                                              title-field="tableSkuClientSkuCode"
                                                              description-field="tableSkuName"
                                                              input-class="form-control darkgrey-bottom-border font input-less-padding"
                                                              image-field="tableSkuImageUrl"
                                                              initial-value="skuSelected"></angucomplete-alt>
                                        </div>
                                        <div class="col-md-1">
                                            <button id="newKSkuMore" type="button" title="Click to see all customers"
                                                    style="position: absolute; top: 8px;"
                                                    class="btn btn-sm truncate-text"
                                                    ng-click="masterSkuDialog($event, true);">. . .
                                            </button>
                                        </div>
                                        <div class="col-md-4 col-md-offset-1">
                                            <input type="text" ng-class="{submitted: isQuantityEntered}" ng-model="quantityNo"
                                                   only-integer
                                                   id="newKSkuQty"
                                                   prevent-typing-greater
                                                   max = "999999999"
                                                   placeholder="Quantity" class="form-control darkgrey-bottom-border-number font input-less-padding">
                                        </div>
                                        <div class="col-md-2 col-md-offset-1">
                                        <span title="Add to Kit" class="form-label-height add-to-list-icon"
                                              style="color: #f0592b;"
                                              id="newKSkuAdd"
                                              ng-click="addKitDetails(kitData.productObj,quantityNo,id);quantityNo=null;"></span>
                                        </div>
                                    </div>

                                    <div class="row row-margin-top">
                                        <div class="col-md-12">
                                            <span class="font">List of Selected Products</span>
                                        </div>
                                    </div>

                                    <div class="row row-margin-top-small row-margin-bottom-small" ng-show="dialogBoxKitMode=='add' || (dialogBoxKitMode=='edit' && kitData.tableSkuIsKitEditable==true)">
                                        <div class="col-md-12">
                                            <table class="table boldtable table-responsive table-bordered table-hover" style="width:100%;">
                                                <thead class="data-grid-header">
                                                <tr>
                                                    <th id="newKSkusNameH"><span class="fa fa-calendar fa-lg"></span>&nbsp;&nbsp;Product Name</th>
                                                    <th id="newKSkusQtyH"><span class="fa fa-calendar fa-lg"></span>&nbsp;&nbsp;Quantity</th>
                                                    <th id="newKSkusActionH"><span class="fa fa-calendar fa-lg"></span>&nbsp;&nbsp; Action
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody class="data-grid-data">
                                                <tr ng-repeat="kit in skuKitList">
                                                    <td id="newKSkusName{{$index}}">{{kit.sku.tableSkuName}}</td>
                                                    <td id="newKSkusQty{{$index}}">{{kit.quantity}}</td>
                                                    <td id="newKSkusAction{{$index}}">
                                                        <a class="table-btn" ng-click="removeKit($index)"><span class="fa fa-trash fa-lg"></span></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row row-margin-top-small row-margin-bottom-small" ng-show="dialogBoxKitMode=='edit' && kitData.tableSkuIsKitEditable==false">
                                        <div class="col-md-12" ng-if="skuKitList.length > 0">
                                            <table class="table boldtable table-responsive table-bordered table-hover" style="width:100%;">
                                                <thead class="data-grid-header">
                                                <tr>
                                                    <th id="newKSkukNameH"><span class="fa fa-calendar fa-lg"></span>&nbsp;&nbsp;Product Name</th>
                                                    <th id="newKSkukQtyH"><span class="fa fa-calendar fa-lg"></span>&nbsp;&nbsp;Quantity</th>
                                                </tr>
                                                </thead>
                                                <tbody class="data-grid-data">
                                                <tr ng-repeat="kit in skuKitList">
                                                    <td id="newKSkukName{{$index}}">{{kit.sku.tableSkuName}}</td>
                                                    <td id="newKSkukQty{{$index}}">{{kit.quantity}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Modal -->


                        </div>
                        <div id="kitSkuTab2" class="tab-pane container-fluid">
                            <div class="row row-margin-top-large row-margin-bottom-large text-center">
                                <div class="col-md-6 light-grey-right-border">
                                    <div class="bulk-upload-sku-img" data-toggle="modal" data-target="#skuBulkUpload" data-dismiss="modal"></div>
                                    <br>
                                    <span class="bulk-upload-sku-text" data-toggle="modal" data-target="#skuBulkUpload" data-dismiss="modal">Upload File</span>
                                </div>
                                <div class="col-md-6">
                                    <a href="javascript:void(0);" ng-click="generateSkuTemplate()">
                                        <div class="download-template-sku-img"></div>
                                    </a>
                                    <br>
                                    <span class="bulk-upload-sku-text">
                                          <a href="javascript:void(0);" ng-click="generateSkuTemplate()">
                                              Download File Template
                                          </a>
                                        </span>
                                </div>
                            </div>
                            <div class="row upload-file-dialog-row">
                                <div style="text-align: center;">
                                    <a ng-click="closeBulkUploadDialog()" style="color: #00ACE4; font-weight: 600;cursor: pointer;">Go to "Bulk upload reports" for more details.</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer modal-dialog-footer">
                    <span flex></span>
                    <button id="newKSkuCancel2"  type="button" class="cancel-btn" ng-click="cancelSkuData(addKitSkuForm)">
                        Cancel
                    </button>
                    <button id="newKSkuSubmit" type="submit" ng-show="showKitSkuTab && dialogBoxKitMode=='add'" class="action-btn" >
                        Add
                    </button>
                    <button id="newKSkuUpdate" type="submit" ng-show="showKitSkuTab && dialogBoxKitMode=='edit'" class="action-btn">
                        Update
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="addNewCatg" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;" height="100px">
                <button id="newKSkuCatCancel1" type="button" class="close" ng-click="newCatg=null; closeCategoryBox();">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <p class="dialog-heading-p">Add New Category</p>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row row-margin-top">
                        <div class="col-md-4">
                            <span class="font">Category Name</span>
                        </div>
                        <div class="col-md-6">
                            <input id="newKSkuCatName" type="text" onkeypress="if (event.keyCode == 13) {return false;}" placeholder="Enter Category Name" ng-class="{submitted: isNewCatgNameEntered}" ng-change="newCatgNameChanged(newCatg.categoryName)" ng-model="newCatg.categoryName" class="form-control darkgrey-bottom-border font input-less-padding">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-dialog-footer">
                <button id="newKSkuCatSubmit" type="button" class="action-btn" ng-click="addCategory(newCatg.categoryName);">
                    Save
                </button>
                <button id="newKSkuCatCancel2" type="button" class="cancel-btn" ng-click="newCatg=null; closeCategoryBox();">
                    Close
                </button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="addNewAttribute" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;" height="100px">
                <button id="newKSkuAttrCancel1" type="button" class="close" ng-click="newAttribute=null; closeAttributeBox();">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <p class="dialog-heading-p">Add New Attribute</p>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row row-margin-top">
                        <div class="col-md-4">
                            <span class="font">Attribute Key</span>
                        </div>
                        <div class="col-md-6">
                            <input id="newKSkuAttrKey" type="text" onkeypress="if (event.keyCode == 13) {return false;}" placeholder="Enter Attribute Name" ng-class="{submitted: isNewAttributeNameEntered}" ng-change="newAttributeNameChanged(newAttribute.attributeName)" ng-model="newAttribute.attributeName" class="form-control darkgrey-bottom-border font input-less-padding">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-dialog-footer">
                <button id="newKSkuAttrSubmit" type="button" class="action-btn" ng-click="addAttribute(newAttribute.attributeName);">Save</button>
                <button id="newKSkuAttrCancel2" type="button" class="cancel-btn" ng-click="newAttribute=null; closeAttributeBox();">Close</button>
            </div>
        </div>
    </div>
</div>
