
        <div class="row search-row-heading">

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row search-row search-row-content search-row-top-border">
            <div class="row row-margin-top-x-medium-sku">
                <div class="row col-md-3">
                    <div class="col-xs-6" style="margin-top:5px;">
                        <span class="total-count-heading">Total SKUs</span>
                    </div>
                    <div class="col-xs-6">
                        <div class="circle-oval circle-orange">
                            <span>{{skuMainCount}}</span>
                        </div>
                    </div>
                </div>
                <div class="vertical_line"></div>
                <div class="col-md-2 margin-top-5">
                    <span class="total-count-heading">Search SKU</span>
                </div>
                <div class="col-md-4" style="left: -70px;">
                    <input  type="text" ng-model="skuString" id="allSKUId" name="sellerSkuId" class="form-control darkgrey-bottom-border font input-less-padding" ng-change="callDisabledAll(skuString)" />
                </div>
                <div class="col-md-1" style="left: -60px; top: -2px;">
                    <button id="allSKUSearch" type="button"  class="btn btn-default mybut" ng-click="submitMainSkuAction(skuString)">Search</button>
                </div>
                <div class="col-md-1" style="margin-top: 4px;">
                    <button id="allSKUClear" title="Reset search filter" style="margin-left:0px;"  class="btn clearFilter" ng-click="clearAllSkuAction();skuString=null;">
                    </button>
                </div>
                
			</div>
		</div>
        </div>

<!--         <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn add-button font pull-right btn-top-margin" style="min-width: 160px;" data-toggle="modal" data-target="#addSkuModal"><img src="images/svg/add.svg" style="height:20px;">&nbsp;Add New SKU</button>
            </div>
        </div>
 -->
         <div class="row">
            <div class="col-xs-12">
                <button id="allSKUAddNew" type="button" class="btn addsharpbutton font pull-right" style="min-width: 160px;margin-top:10px" data-toggle="modal" ng-click="showAddSkuModal();" ng-if="access.createAccess"><img src="images/svg/add.svg" style="height:20px;">&nbsp;Add New SKU</button>
            </div>
        </div>

        <div class="row main-list">
            <table class="table table-striped-custom table-condensed table-responsive table-hover">
                <thead class="main-list-header-sku">
                    <!-- table header -->
                    <tr>
                        <th id="allSKUIdH" class="text-left">
                            <a ng-if = "genericData.enableSorting" href="" ng-click="tableSortingAll('tableSkuClientSkuCode',sortReverseAll)">
                                Seller SKU ID&nbsp;
                                <span ng-if="genericData.enableSorting == true && sortTypeAll == 'tableSkuClientSkuCode' && !sortReverseAll"
                                class="fa fa-caret-down"></span>
                                <span ng-if="sortTypeAll == 'tableSkuClientSkuCode' && sortReverseAll"
                                class="fa fa-caret-up"></span>
                            </a>
                            <a ng-if = "!genericData.enableSorting" href="">
                                Seller SKU ID&nbsp;
                            </a>
                        </th>
                        <th id="allSKUSysIdH" class="text-left">
                            System SKU ID&nbsp;
                        </th>
                        <th id="allSKUNameH" class="text-left">
                            <a ng-if = "genericData.enableSorting" href="" ng-click="tableSortingAll('tableSkuName',sortReverseAll)">
                                SKU Name&nbsp;
                                <span ng-if="sortTypeAll == 'tableSkuName' && !sortReverseAll"
                                class="fa fa-caret-down"></span>
                                <span ng-if="sortTypeAll == 'tableSkuName' && sortReverseAll"
                                class="fa fa-caret-up"></span>
                            </a>
                            <a ng-if = "!genericData.enableSorting" href="">
                                SKU Name&nbsp;
                            </a>
                        </th>
                        <th id="allSKUIsbnH" class="text-left">
                            <a ng-if = "genericData.enableSorting" href="" ng-click="tableSortingAll('tableSkuPrimaryUpcEan',sortReverseAll)">
                                ISBN/UPC/EAN&nbsp;
                                <span ng-if="sortTypeAll == 'tableSkuPrimaryUpcEan' && !sortReverseAll"
                                class="fa fa-caret-down"></span>
                                <span ng-if="sortTypeAll == 'tableSkuPrimaryUpcEan' && sortReverseAll"
                                class="fa fa-caret-up"></span>
                            </a>
                            <a ng-if = "!genericData.enableSorting" href="">
                                ISBN/UPC/EAN&nbsp;
                            </a>
                        </th>
                        <th id="allSKUCategoryH" class="text-left">
                            <a ng-if = "genericData.enableSorting" href="" ng-click="tableSortingAll('tableSkuNode.skuNodeName',sortReverseAll)">
                                Category&nbsp;
                                <span ng-if="sortTypeAll == 'tableSkuNode.skuNodeName' && !sortReverseAll"
                                class="fa fa-caret-down"></span>
                                <span ng-if="sortTypeAll == 'tableSkuNode.skuNodeName' && sortReverseAll"
                                class="fa fa-caret-up"></span>
                            </a>
                            <a ng-if = "!genericData.enableSorting" href="">
                                Category
                            </a>
                        </th>
                        <th id="allSKUBrandH" class="text-left">
                            <a ng-if = "genericData.enableSorting" href="" ng-click="tableSortingAll('tableSkuBrandCode.tableSkuBrandCodeString',sortReverseAll)">
                                Brand&nbsp;
                                <span ng-if="sortTypeAll == 'tableSkuBrandCode.tableSkuBrandCodeString' && !sortReverseAll"
                                class="fa fa-caret-down"></span>
                                <span ng-if="sortTypeAll == 'tableSkuBrandCode.tableSkuBrandCodeString' && sortReverseAll"
                                class="fa fa-caret-up"></span>
                            </a>
                            <a ng-if = "!genericData.enableSorting" href="">
                                Brand
                            </a>
                        </th>
                        <th id="allSKUTypeH" class="text-left">
                            <a ng-if = "genericData.enableSorting" href="" ng-click="tableSortingAll('tableSkuType.tableSkuTypeString',sortReverseAll)">
                                Type&nbsp;
                                <span ng-if="sortTypeAll == 'tableSkuType.tableSkuTypeString' && !sortReverseAll"
                                class="fa fa-caret-down"></span>
                                <span ng-if="sortTypeAll == 'tableSkuType.tableSkuTypeString' && sortReverseAll"
                                class="fa fa-caret-up"></span>
                            </a>
                            <a ng-if = "!genericData.enableSorting" href="">
                                Type
                            </a>
                        </th>
                        <th id="allSKUHsnH" class="text-left">HSN</th>
                        <th id="allSKUDimH" class="text-left short-sku-dimen">Dimensions (LxBxH/W)</th>
                        <th id="allSKUStatusH" class="text-left">
                            <a ng-if = "genericData.enableSorting" href="" ng-click="tableSortingAll('tableSkuStatusType.tableSkuStatusTypeString',sortReverseAll)">
                                Status&nbsp;
                                <span ng-if="sortTypeAll == 'tableSkuStatusType.tableSkuStatusTypeString' && !sortReverseAll"
                                class="fa fa-caret-down"></span>
                                <span ng-if="sortTypeAll == 'tableSkuStatusType.tableSkuStatusTypeString' && sortReverseAll"
                                class="fa fa-caret-up"></span>
                            </a>
                            <a ng-if = "!genericData.enableSorting" href="">
                                Status&nbsp;
                            </a>
                        </th>
                        <!--Dont' remove this commented code-->
                        <th id="allSKUMapH" class="text-left" style="min-width: 75px;">SKU Map</th>
                        <th id="allSKUActionH" class="text-left action-col">Action</th>
                    </tr>
                </thead>
                <tbody ng-if="showLoader">
                <tr>
                    <td colspan="12" class="text-center">
                        <md-progress-circular style="margin: 0 auto" class="md-hue-2" md-diameter="40"></md-progress-circular>
                    </td>
                </tr>
                </tbody>
                <tbody data-ng-repeat="skuData in skuLists" data-ng-switch on="dayDataCollapse[$index]">
                    <tr class="clickable-row-sku">
                        <td id="allSKUId{{$index}}" class="short-sku-name" title="{{skuData.tableSkuClientSkuCode}}" align="left"><a ng-click="showInventory(skuData.idtableSkuId)" style="color:#f0592b;cursor:pointer;">{{skuData.tableSkuClientSkuCode}}</a></td>
                        <td id="allSKUSysId{{$index}}" class="short-sku-name" align="left">{{skuData.tableSkuSystemNo}}</td>
                        <td id="allSKUName{{$index}}" align="left" class="short-sku-name" title="{{skuData.tableSkuName}}">{{skuData.tableSkuName}}</td>
                        <td id="allSKUIsbn{{$index}}" class="short-sku-name" align="left">{{skuData.tableSkuPrimaryUpcEan}}</td>
                        <td id="allSKUCategory{{$index}}" class="short-sku-other" align="left">{{skuData.tableSkuNode.skuNodeName}}</td>
                        <td id="allSKUBrand{{$index}}" class="short-sku-other" align="left">{{skuData.tableSkuBrandCode.tableSkuBrandCodeString}}</td>
                        <td id="allSKUType{{$index}}" class="short-sku-other" align="left">{{skuData.tableSkuType.tableSkuTypeString}}</td>
                        <td id="allSKUHsn{{$index}}" align="left">{{skuData.tableHsn.tableHsnCode}}</td>
                       <td id="allSKUDim{{$index}}" class="short-sku-dimen" align="left">
                            <span ng-if="skuData.tableSkuUodmType.tableSkuUodmTypeString">{{skuData.tableSkuLength}}</span>
                            <strong ng-if="skuData.tableSkuUodmType.tableSkuUodmTypeString">x</strong>
                            <span ng-if="skuData.tableSkuUodmType.tableSkuUodmTypeString">{{skuData.tableSkuWidth}}</span>
                            <strong ng-if="skuData.tableSkuUodmType.tableSkuUodmTypeString">x</strong>
                            <span ng-if="skuData.tableSkuUodmType.tableSkuUodmTypeString">{{skuData.tableSkuHeight}}</span>
                            <span ng-if="skuData.tableSkuUodmType.tableSkuUodmTypeString">{{skuData.tableSkuUodmType.tableSkuUodmTypeString.toLowerCase()}}</span>
                            <strong ng-if="skuData.tableSkuUodmType.tableSkuUodmTypeString && skuData.tableSkuUowmType.tableSkuUowmTypeString">/</strong>
                            <span ng-if="skuData.tableSkuUowmType.tableSkuUowmTypeString">{{skuData.tableSkuWeight}}</span>
                            <span ng-if="skuData.tableSkuUowmType.tableSkuUowmTypeString">{{skuData.tableSkuUowmType.tableSkuUowmTypeString}}</span>
                        </td>
                        <td id="allSKUStatus{{$index}}" align="left">
                            <a class="active-status" ng-if="skuData.tableSkuStatusType.idtableSkuStatusTypeId == 1" href="" data-ng-click="access.editAccess && deactivateSku(skuData.idtableSkuId, skuData,skuData.tableSkuType.tableSkuTypeString,$event)">{{skuData.tableSkuStatusType.tableSkuStatusTypeString}}&nbsp;<img src="images/svg/SKU_Deactivate-70.svg" title="Click to deactivate SKU" class="status-img" alt="" ></a>
                            <a class="deactive-status" ng-if="skuData.tableSkuStatusType.idtableSkuStatusTypeId == 2" href="" data-ng-click="access.editAccess && activateSku(skuData.idtableSkuId, skuData,skuData.tableSkuType.tableSkuTypeString,$event)">{{skuData.tableSkuStatusType.tableSkuStatusTypeString}}&nbsp;<img src="images/svg/SKU_Activate.svg" title="Click to activate SKU" class="status-img" alt="" ></a>
                        </td>
                        <!--Dont' remove this commented code-->
                        <td id="allSKUMap{{$index}}" align="left">
                            <a href="javascript:void(0);" ng-if="skuData.tableSkuType.idtableSkuTypeId == 1" class="link-color"  ng-click="SkuMapping(skuData);">View Map</a>
                            <span ng-if="skuData.tableSkuType.idtableSkuTypeId != 1">-</span>
                        </td>
                        <td id="allSKUAction{{$index}}">
                            <img ng-src="{{imgsrc1}}" ng-attr-title="{{!access.editAccess || skuData.tableSalesChannelValueInfo.tableSalesChannelMetaInfo.tableSalesChannelType.idtableSalesChannelTypeId == 1 ? 'You do not have permission' : 'Edit'}}" width="20px" height="20px" data-ng-click="access.editAccess && editSku($index, skuData.idtableSkuId,skuData.tableSkuType.tableSkuTypeString)" ng-init="imgsrc1='images/svg/edit.svg'" ng-mouseover="access.editAccess && (imgsrc1='images/svg/edit_hover.svg')"
                                 ng-class="{disableAccess: !access.editAccess || skuData.tableSalesChannelValueInfo.tableSalesChannelMetaInfo.tableSalesChannelType.idtableSalesChannelTypeId == 1}"
                                 ng-mouseout="imgsrc1='images/svg/edit.svg'">
                            <span> | </span>
                            <img ng-src="{{imgsrc2}}" ng-attr-title="{{!access.editAccess || skuData.tableSalesChannelValueInfo.tableSalesChannelMetaInfo.tableSalesChannelType.idtableSalesChannelTypeId == 1 ? 'You do not have permission' : 'Print Barcode Label'}}" width="20px" height="20px" data-ng-click="access.editAccess && printbarcodeLabel(skuData.idtableSkuId)" ng-init="imgsrc2='images/svg/print.svg'" ng-mouseover="access.editAccess && (imgsrc2='images/svg/print_hover.svg')"
                                 ng-class="{disableAccess: !access.editAccess || skuData.tableSalesChannelValueInfo.tableSalesChannelMetaInfo.tableSalesChannelType.idtableSalesChannelTypeId == 1}"
                                 ng-mouseout="imgsrc2='images/svg/print.svg'">
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- END TABLE -->
            <div class="row" style="margin-top: 0px;">
                <div class="col-md-6">
                    <p class="showingOrderLabel" ng-show="skuSize<skuMainCount">Showing SKUS {{start + 1}} to {{end}} of {{skuMainCount}}
                    </p>
                    <p class="showingOrderLabel" ng-show="skuSize>=skuMainCount && skuMainCount!=0">Showing SKUS {{start + 1}} to {{skuMainCount}} of {{skuMainCount}}
                    </p>
                    <p class="showingOrderLabel" ng-show="skuMainCount==0">No SKUS Available
                    </p>
                </div>
                <div class="col-md-6">
                    <span class="pull-right">
                        <!-- pager -->
                        <ul ng-if="vmPager.pages.length && modeSku=='normal'" class="pagination">
                            <li>
                                <a><span style="padding-right: 5px;">Showing</span>
                                    <select ng-change="onRecordsPerPageChange(skuSize)"  ng-model="skuSize" name="recordsPerPage"
                                            ng-options="option for option in recordsPerPage"
                                            required>
                                    </select>
                                    <span style="padding-left: 5px;">records per page</span>
                                </a>
                            </li>
                            <li id="first1" ng-show="vmPager.currentPage == 1" ng-class="{disabled:vmPager.currentPage == 1}">
                                <a>&lt;&lt; First</a>
                            </li>
                            <li id="first2" ng-show="vmPager.currentPage > 1" ng-class="{disabled:vmPager.currentPage == 1}">
                                <a ng-click="listOfSkusCount(1)">&lt;&lt; First</a>
                            </li>
                            <li id="previous1" ng-show="vmPager.currentPage == 1" ng-class="{disabled:vmPager.currentPage == 1}">
                                <a> &lt; Previous</a>
                            </li>
                            <li id="previous2" ng-show="vmPager.currentPage > 1" ng-class="{enabled:vmPager.currentPage > 1}">
                                <a ng-click="listOfSkusCount(vmPager.currentPage - 1)"> &lt; Previous</a>
                            </li>
                            <li id="page" ng-repeat="page in vmPager.pages" ng-class="{active:vmPager.currentPage == page}">
                                <a ng-click="listOfSkusCount(page)">{{page}}</a>
                            </li>
                            <li id="next1" ng-show="vmPager.currentPage < vmPager.totalPages" ng-class="{enabled:vmPager.currentPage > vmPager.totalPages}">
                            <a ng-click="listOfSkusCount(vmPager.currentPage + 1)">Next &gt; </a>
                            </li>
                            <li id="next2" ng-show="vmPager.currentPage == vmPager.totalPages" ng-class="{disabled:vmPager.currentPage == vmPager.totalPages}">
                                <a>Next &gt; </a>
                            </li>
                            <li id="last1" ng-show="vmPager.currentPage < vmPager.totalPages" ng-class="{disabled:vmPager.currentPage == vmPager.totalPages}">
                                <a ng-click="listOfSkusCount(vmPager.totalPages)">Last &gt;&gt;</a>
                            </li>
                            <li id="last2" ng-show="vmPager.currentPage == vmPager.totalPages" ng-class="{disabled:vmPager.currentPage == vmPager.totalPages}">
                                <a>Last &gt;&gt;</a>
                            </li>
                        </ul>
                        <ul ng-if="vmPager.pages.length && modeSku=='mutual'" class="pagination">
                            <li>
                                <a><span style="padding-right: 5px;">Showing</span>
                                    <select ng-change="onRecordsPerPageChange(skuSize)"  ng-model="skuSize" name="recordsPerPage"
                                            ng-options="option for option in recordsPerPage"
                                            required>
                                    </select>
                                    <span style="padding-left: 5px;">records per page</span>
                                </a>
                            </li>
                            <li id="first1" ng-show="vmPager.currentPage == 1" ng-class="{disabled:vmPager.currentPage == 1}">
                                <a>&lt;&lt; First</a>
                            </li>
                            <li id="first2" ng-show="vmPager.currentPage > 1" ng-class="{disabled:vmPager.currentPage == 1}">
                                <a ng-click="listOfMutualSkusCount(1)">&lt;&lt; First</a>
                            </li>
                            <li id="previous1" ng-show="vmPager.currentPage == 1" ng-class="{disabled:vmPager.currentPage == 1}">
                                <a> &lt; Previous</a>
                            </li>
                            <li id="previous2" ng-show="vmPager.currentPage > 1" ng-class="{enabled:vmPager.currentPage > 1}">
                                <a ng-click="listOfMutualSkusCount(vmPager.currentPage - 1)"> &lt; Previous</a>
                            </li>
                            <li id="page" ng-repeat="page in vmPager.pages" ng-class="{active:vmPager.currentPage == page}">
                                <a ng-click="listOfMutualSkusCount(page)">{{page}}</a>
                            </li>
                            <li id="next1" ng-show="vmPager.currentPage < vmPager.totalPages" ng-class="{enabled:vmPager.currentPage > vmPager.totalPages}">
                                <a ng-click="listOfMutualSkusCount(vmPager.currentPage + 1)">Next &gt; </a>
                            </li>
                            <li id="next2" ng-show="vmPager.currentPage == vmPager.totalPages" ng-class="{disabled:vmPager.currentPage == vmPager.totalPages}">
                                <a>Next &gt; </a>
                            </li>
                            <li id="last1" ng-show="vmPager.currentPage < vmPager.totalPages" ng-class="{disabled:vmPager.currentPage == vmPager.totalPages}">
                                <a ng-click="listOfMutualSkusCount(vmPager.totalPages)">Last &gt;&gt;</a>
                            </li>
                            <li id="last2" ng-show="vmPager.currentPage == vmPager.totalPages" ng-class="{disabled:vmPager.currentPage == vmPager.totalPages}">
                                <a>Last &gt;&gt;</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>

<!-- Add New SKU Dialog -->

<div ng-include src="'sku/deactivateSku.html?version=1.0.0'"></div>
<div ng-include src="'sku/activateSku.html?version=1.0.0'"></div>
