        <div class="row search-row-heading">

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row search-row search-row-content search-row-top-border">
            <div class="row row-margin-top-x-medium-sku">
                <div class="row col-xs-3">
                    <div class="col-xs-6" style="padding-top: 5px;">
                        <span class="total-count-heading">Total Kits</span>
                    </div>
                    <div class="col-xs-6">
                        <div class="circle-oval circle-orange">
                            <span>{{kitskuMainCount}}</span>
                        </div>
                    </div>
                </div>
                <div class="vertical_line"></div>
                <div class="col-md-2 margin-top-5">
                    <span class="total-count-heading">Search Kit</span>
                </div>
                <div class="col-md-4" style="left: -70px;">
                    <input type="text" id="vkitSKUId" name="sellerSkuId" ng-model="skuKitString" class="form-control darkgrey-bottom-border font input-less-padding" ng-change="callDisabledKit(skuKitString)" />
                </div>
                <div class="col-md-1" style="left: -60px; top: -2px;">
                    <button id="vkitSKUSearch" type="button" class="btn btn-default mybut"  ng-click="submitKitMainSkuAction(skuKitString)">Search</button>
                </div>
                <div class="col-md-1" style="margin-top: 4px;">
                    <button id="vkitSKUClear" title="Reset search filter" style="margin-left: 0px;"  class="btn clearFilter" ng-click="clearKitSkuAction();skuKitString=null;">
                    </button>
                </div>
                
            </div>
            
        </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button id="vkitSKUAddNew" type="button" ng-if="access.createAccess" class="btn addsharpbutton font pull-right" style="min-width: 160px;margin-top:10px;" ng-click="showkitAddBox($event)"><img src="images/svg/add.svg" style="height:20px;">&nbsp;Add New Kit</button>
            </div>
        </div>
        <div class="row main-list">
            <table class="table table-striped-custom table-condensed table-responsive table-hover">
                <thead class="main-list-header-sku">
                    <!-- table header -->
                    <tr>
                        <th id="vkitSKUIdH" class="text-left">
                            <a ng-if = "genericData.enableSorting" href="" ng-click="tableSortingKit('tableSkuClientSkuCode',sortReverseKit)">
                                Seller SKU ID&nbsp;
                                <span ng-if="sortTypeKit == 'tableSkuClientSkuCode' && !sortReverseKit"
                                class="fa fa-caret-down"></span>
                                <span ng-if="sortTypeKit == 'tableSkuClientSkuCode' && sortReverseKit"
                                class="fa fa-caret-up"></span>
                            </a>
                            <a ng-if = "!genericData.enableSorting" href="">
                                Seller SKU ID&nbsp;
                            </a>
                        </th>
                        <th id="vkitSKUNameH"  class="text-left">
                            <a ng-if = "genericData.enableSorting" href="" ng-click="tableSortingKit('tableSkuName',sortReverseKit)">
                                SKU Name&nbsp;
                                <span ng-if="sortTypeKit == 'tableSkuName' && !sortReverseKit"
                                class="fa fa-caret-down"></span>
                                <span ng-if="sortTypeKit == 'tableSkuName' && sortReverseKit"
                                class="fa fa-caret-up"></span>
                            </a>
                            <a ng-if = "!genericData.enableSorting" href="">
                                SKU Name&nbsp;
                            </a>
                        </th>
                        <th id="vkitSKUIsbnH" class="text-left">
                            <a ng-if = "genericData.enableSorting" href="" ng-click="tableSortingKit('tableSkuPrimaryUpcEan',sortReverseKit)">
                                ISBN/UPC/EAN&nbsp;
                                <span ng-if="sortTypeKit == 'tableSkuPrimaryUpcEan' && !sortReverseKit"
                                class="fa fa-caret-down"></span>
                                <span ng-if="sortTypeKit == 'tableSkuPrimaryUpcEan' && sortReverseKit"
                                class="fa fa-caret-up"></span>
                            </a>
                            <a ng-if = "!genericData.enableSorting" href="">
                                ISBN/UPC/EAN&nbsp;
                            </a>
                        </th>
                        <th id="vkitSKUCategoryH" class="text-left">
                            <a ng-if = "genericData.enableSorting" href="" ng-click="tableSortingKit('tableSkuNode.skuNodeName',sortReverseKit)">
                                Category&nbsp;
                                <span ng-if="sortTypeKit == 'tableSkuNode.skuNodeName' && !sortReverseKit"
                                class="fa fa-caret-down"></span>
                                <span ng-if="sortTypeKit == 'tableSkuNode.skuNodeName' && sortReverseKit"
                                class="fa fa-caret-up"></span>
                            </a>
                            <a ng-if = "!genericData.enableSorting" href="">
                                Category
                            </a>
                        </th>
                        <th id="vkitSKUBrandH" class="text-left">
                            <a ng-if = "genericData.enableSorting" href="" ng-click="tableSortingKit('tableSkuBrandCode.tableSkuBrandCodeString',sortReverseKit)">
                                Brand&nbsp;
                                <span ng-if="sortTypeKit == 'tableSkuBrandCode.tableSkuBrandCodeString' && !sortReverseKit"
                                class="fa fa-caret-down"></span>
                                <span ng-if="sortTypeKit == 'tableSkuBrandCode.tableSkuBrandCodeString' && sortReverseKit"
                                class="fa fa-caret-up"></span>
                            </a>
                            <a ng-if = "!genericData.enableSorting" href="">
                                Brand
                            </a>
                        </th>
                        <th id="vkitSKUHsnH" class="text-left">HSN</th>
                        <th id="vkitSKUDimH" class="text-left">Dimensions (LxBxH/W)</th>
                        <th id="vkitSKUStatusH" class="text-left">
                            <a ng-if = "genericData.enableSorting" href="" ng-click="tableSortingKit('tableSkuStatusType.tableSkuStatusTypeString',sortReverseKit)">
                                Status&nbsp;
                                <span ng-if="sortTypeKit == 'tableSkuStatusType.tableSkuStatusTypeString' && !sortReverseKit"
                                class="fa fa-caret-down"></span>
                                <span ng-if="sortTypeKit == 'tableSkuStatusType.tableSkuStatusTypeString' && sortReverseKit"
                                class="fa fa-caret-up"></span>
                            </a>
                            <a ng-if = "!genericData.enableSorting" href="">
                                Status
                            </a>
                        </th>
                        <th id="vkitSKUActionH" class="text-left action-col">Action</th>
                    </tr>
                </thead>
                <tbody ng-if="showLoader">
                <tr>
                    <td colspan="9" class="text-center">
                        <md-progress-circular style="margin: 0 auto" class="md-hue-2" md-diameter="40"></md-progress-circular>
                    </td>
                </tr>
                </tbody>
                <tbody data-ng-repeat="kitData in kitSkuLists" data-ng-switch on="dayDataCollapse[$index]">
                    <tr class="clickable-row-sku">
                        <td id="vkitSKUId{{$index}}" class="short-sku-name " title="{{kitData.tableSkuClientSkuCode}}" align="left"><a ng-click="showInventory(kitData.idtableSkuId)" style="color:#f0592b;cursor:pointer;">{{kitData.tableSkuClientSkuCode}}</a></td>
                        <td id="vkitSKUName{{$index}}" align="left" class="short-sku-name" title="{{kitData.tableSkuName}}">{{kitData.tableSkuName}}</td>
                        <td id="vkitSKUIsbn{{$index}}" class="short-sku-name" align="left">{{kitData.tableSkuPrimaryUpcEan}}</td>
                        <td id="vkitSKUCategory{{$index}}" class="short-sku-name" align="left">{{kitData.tableSkuNode.skuNodeName}}</td>
                        <td id="vkitSKUBrand{{$index}}" class="short-sku-name" align="left">{{kitData.tableSkuBrandCode.tableSkuBrandCodeString}}</td>
                        <td id="vkitSKUHsn{{$index}}" align="left">{{kitData.tableHsn.tableHsnCode}}</td>
                        <td id="vkitSKUDim{{$index}}" class="short-sku-dimen" align="left">
                            <span ng-if="kitData.tableSkuUodmType.tableSkuUodmTypeString">{{kitData.tableSkuLength}}</span>
                            <strong ng-if="kitData.tableSkuUodmType.tableSkuUodmTypeString">x</strong>
                            <span ng-if="kitData.tableSkuUodmType.tableSkuUodmTypeString">{{kitData.tableSkuWidth}}</span>
                            <strong ng-if="kitData.tableSkuUodmType.tableSkuUodmTypeString">x</strong>
                            <span ng-if="kitData.tableSkuUodmType.tableSkuUodmTypeString">{{kitData.tableSkuHeight}}</span>
                            <span ng-if="kitData.tableSkuUodmType.tableSkuUodmTypeString">{{kitData.tableSkuUodmType.tableSkuUodmTypeString.toLowerCase()}}</span>
                            <strong ng-if="kitData.tableSkuUodmType.tableSkuUodmTypeString && kitData.tableSkuUowmType.tableSkuUowmTypeString">/</strong>
                            <span ng-if="kitData.tableSkuUowmType.tableSkuUowmTypeString">{{kitData.tableSkuWeight}}</span>
                            <span ng-if="kitData.tableSkuUowmType.tableSkuUowmTypeString">{{kitData.tableSkuUowmType.tableSkuUowmTypeString}}</span>
                        </td>
                        <td id="vkitSKUStatus{{$index}}" align="left">
                            <a class="active-status" ng-if="kitData.tableSkuStatusType.idtableSkuStatusTypeId == 1" href="" data-ng-click="access.editAccess && deactivateSku(kitData.idtableSkuId, kitData,kitData.tableSkuType.tableSkuTypeString,$event)">{{kitData.tableSkuStatusType.tableSkuStatusTypeString}}&nbsp;<img src="images/svg/SKU_Deactivate-70.svg" title="Click to deactivate SKU" class="status-img" alt=""></a>
                            <a class="deactive-status" ng-if="kitData.tableSkuStatusType.idtableSkuStatusTypeId == 2" href="" data-ng-click="access.editAccess && activateSku(kitData.idtableSkuId, kitData,kitData.tableSkuType.tableSkuTypeString,$event)">{{kitData.tableSkuStatusType.tableSkuStatusTypeString}}&nbsp;<img src="images/svg/SKU_Activate.svg" title="Click to activate SKU" class="status-img" alt=""></a>
                        </td>
                        <td id="vkitSKUAction{{$index}}" align="left">
                            <img ng-src="{{imgsrc1}}" ng-attr-title="{{!access.editAccess || kitData.tableSalesChannelValueInfo.tableSalesChannelMetaInfo.tableSalesChannelType.idtableSalesChannelTypeId == 1 ? 'You do not have permission' : 'Edit'}}" width="20px" height="20px" data-ng-click="access.editAccess && editSku($index, kitData.idtableSkuId,kitData.tableSkuType.tableSkuTypeString)" ng-init="imgsrc1='images/svg/edit.svg'" ng-mouseover="access.editAccess && (imgsrc1='images/svg/edit_hover.svg')"
                                 ng-class="{disableAccess: !access.editAccess || kitData.tableSalesChannelValueInfo.tableSalesChannelMetaInfo.tableSalesChannelType.idtableSalesChannelTypeId == 1}"
                                 ng-mouseout="imgsrc1='images/svg/edit.svg'">
                            <span> | </span>
                            <img ng-src="{{imgsrc2}}" ng-attr-title="{{!access.editAccess || kitData.tableSalesChannelValueInfo.tableSalesChannelMetaInfo.tableSalesChannelType.idtableSalesChannelTypeId == 1 ? 'You do not have permission' : 'Print Barcode Label'}}" width="20px" height="20px" data-ng-click="access.editAccess && printbarcodeLabel(kitData.idtableSkuId)" ng-init="imgsrc2='images/svg/print.svg'" ng-mouseover="access.editAccess && (imgsrc2='images/svg/print_hover.svg')"
                                 ng-class="{disableAccess: !access.editAccess || kitData.tableSalesChannelValueInfo.tableSalesChannelMetaInfo.tableSalesChannelType.idtableSalesChannelTypeId == 1}"
                                 ng-mouseout="imgsrc2='images/svg/print.svg'">
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- END TABLE -->
            <div class="row" style="margin-top: 0px;">
                <div class="col-md-6">
                    <p class="showingOrderLabel" ng-show="kitSkuSize<kitskuMainCount">Showing Kit {{kitSkuStart + 1}} to {{kitSkuEnd}} of {{kitskuMainCount}}
                    </p>
                    <p class="showingOrderLabel" ng-show="kitSkuSize>=kitskuMainCount && kitskuMainCount!=0">Showing Kit {{kitSkuStart + 1}} to {{kitskuMainCount}} of {{kitskuMainCount}}
                    </p>
                    <p class="showingOrderLabel" ng-show="kitskuMainCount==0">No Kits Available
                    </p>
                </div>
                <div class="col-md-6">
                    <span class="pull-right">
                        <!-- pager -->
                        <ul ng-if="vmPagerKit.pages.length && modeKitSku=='normal'" class="pagination">
                            <li>
                                <a><span style="padding-right: 5px;">Showing</span>
                                    <select ng-change="onRecordsPerPageChangeForKitSku(kitSkuSize)"  ng-model="kitSkuSize" name="recordsPerPage"
                                            ng-options="option for option in recordsPerPage"
                                            required>
                                    </select>
                                    <span style="padding-left: 5px;">records per page</span>
                                </a>
                            </li>
                            <li id="first1" ng-show="vmPagerKit.currentPage == 1" ng-class="{disabled:vmPagerKit.currentPage == 1}">
                                <a>&lt;&lt; First</a>
                            </li>
                            <li id="first2" ng-show="vmPagerKit.currentPage > 1" ng-class="{disabled:vmPagerKit.currentPage == 1}">
                                <a ng-click="listOfKitSkusCount(1)">&lt;&lt; First</a>
                            </li>
                            <li id="previous1" ng-show="vmPagerKit.currentPage == 1" ng-class="{disabled:vmPagerKit.currentPage == 1}">
                                <a> &lt; Previous</a>
                            </li>
                            <li id="previous2" ng-show="vmPagerKit.currentPage > 1" ng-class="{enabled:vmPagerKit.currentPage > 1}">
                                <a ng-click="listOfKitSkusCount(vmPagerKit.currentPage - 1)"> &lt; Previous</a>
                            </li>
                            <li id="page" ng-repeat="page in vmPagerKit.pages" ng-class="{active:vmPagerKit.currentPage == page}">
                                <a ng-click="listOfKitSkusCount(page)">{{page}}</a>
                            </li>
                            <li id="next1" ng-show="vmPagerKit.currentPage < vmPagerKit.totalPages" ng-class="{enabled:vmPagerKit.currentPage > vmPagerKit.totalPages}">
                            <a ng-click="listOfKitSkusCount(vmPagerKit.currentPage + 1)">Next &gt; </a>
                            </li>
                            <li id="next2" ng-show="vmPagerKit.currentPage == vmPagerKit.totalPages" ng-class="{disabled:vmPagerKit.currentPage == vmPagerKit.totalPages}">
                                <a>Next &gt; </a>
                            </li>
                            <li id="last1" ng-show="vmPagerKit.currentPage < vmPagerKit.totalPages" ng-class="{disabled:vmPagerKit.currentPage == vmPagerKit.totalPages}">
                                <a ng-click="listOfKitSkusCount(vmPagerKit.totalPages)">Last &gt;&gt;</a>
                            </li>
                            <li id="last2" ng-show="vmPagerKit.currentPage == vmPagerKit.totalPages" ng-class="{disabled:vmPagerKit.currentPage == vmPagerKit.totalPages}">
                                <a>Last &gt;&gt;</a>
                            </li>
                        </ul>
                        <ul ng-if="vmPagerKit.pages.length && modeKitSku=='mutual'" class="pagination">
                            <li>
                                <a><span style="padding-right: 5px;">Showing</span>
                                    <select ng-change="onRecordsPerPageChangeForKitSku(kitSkuSize)"  ng-model="kitSkuSize" name="recordsPerPage"
                                            ng-options="option for option in recordsPerPage"
                                            required>
                                    </select>
                                    <span style="padding-left: 5px;">records per page</span>
                                </a>
                            </li>
                            <li id="first1" ng-show="vmPagerKit.currentPage == 1" ng-class="{disabled:vmPagerKit.currentPage == 1}">
                                <a>&lt;&lt; First</a>
                            </li>
                            <li id="first2" ng-show="vmPagerKit.currentPage > 1" ng-class="{disabled:vmPagerKit.currentPage == 1}">
                                <a ng-click="listOfKitMutualSkusCount(1)">&lt;&lt; First</a>
                            </li>
                            <li id="previous1" ng-show="vmPagerKit.currentPage == 1" ng-class="{disabled:vmPagerKit.currentPage == 1}">
                                <a> &lt; Previous</a>
                            </li>
                            <li id="previous2" ng-show="vmPagerKit.currentPage > 1" ng-class="{enabled:vmPagerKit.currentPage > 1}">
                                <a ng-click="listOfKitMutualSkusCount(vmPagerKit.currentPage - 1)"> &lt; Previous</a>
                            </li>
                            <li id="page" ng-repeat="page in vmPagerKit.pages" ng-class="{active:vmPagerKit.currentPage == page}">
                                <a ng-click="listOfKitMutualSkusCount(page)">{{page}}</a>
                            </li>
                            <li id="next1" ng-show="vmPagerKit.currentPage < vmPagerKit.totalPages" ng-class="{enabled:vmPagerKit.currentPage > vmPagerKit.totalPages}">
                                <a ng-click="listOfKitMutualSkusCount(vmPagerKit.currentPage + 1)">Next &gt; </a>
                            </li>
                            <li id="next2" ng-show="vmPagerKit.currentPage == vmPagerKit.totalPages" ng-class="{disabled:vmPagerKit.currentPage == vmPagerKit.totalPages}">
                                <a>Next &gt; </a>
                            </li>
                            <li id="last1" ng-show="vmPagerKit.currentPage < vmPagerKit.totalPages" ng-class="{disabled:vmPagerKit.currentPage == vmPagerKit.totalPages}">
                                <a ng-click="listOfKitMutualSkusCount(vmPagerKit.totalPages)">Last &gt;&gt;</a>
                            </li>
                            <li id="last2" ng-show="vmPagerKit.currentPage == vmPagerKit.totalPages" ng-class="{disabled:vmPagerKit.currentPage == vmPagerKit.totalPages}">
                                <a>Last &gt;&gt;</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>

<!-- Add New Kit Dialog -->

<div ng-include src="'sku/deactivateSku.html?version=1.0.0'"></div>
<div ng-include src="'sku/activateSku.html?version=1.0.0'"></div>
