.addinventorysharp {
    border-radius: 10;
    height: 40px;
    width: 180px;
    color: white;
    background-color: #F0592B;
}

.addinventorysharp:hover {
    color: #ffffff;
    background-color: #EA6B4E;
}

.inventoryscreen-dropdown {
    border: none;
    border-bottom: 1px solid #B5B5B6;
    background-color: inherit;
}

.invdarkgrey-bottom-border {
    border-bottom: 1px solid darkgrey !important;
    margin-top: -5px;
    width: 20px;
}

.inv-search-margin {
    margin-top: 15px;
    margin-left: 23px;
}

.inv-search-margin-2 {
    margin-top: 15px;
    margin-left: 35px;
}

.wareHouseMainAccordionSKUControlStyle {
    padding-left: 10px;
    margin-top: 13px;
    margin-left: 2px;
}

.inv-search-date-submit-area {
    margin-top: 5px;
    margin-left: 20px;
}

.main-list-header-inv {
    background: #30373B;
    color: #f5fafd !important;
}

.main-list-header-inv a, .main-list-header-inv a:hover, .main-list-header-inv a:focus {
    color: #f5fafd !important;
    text-decoration: none;
}

.main-list-header-inv>tr {
    border: 1px solid #C0C0C0;
    height: 45px;
}

.main-list-header-inv>tr>td {
    padding-top: 10px !important;
    font-size: 14px;
    font-weight: 600;
}

.main-list-header-inv>tr>td:first-child {
    padding-left: 35px !important;
    width: 12%;
}

.main-list-header-inv>tr>td:nth-child(2) {
    width: 12%;
}

.main-list-header-inv>tr>td:nth-child(3) {
    width: 12%;
}

.main-list-header-inv>tr>td:nth-child(4) {
    width: 10%;
}

.main-list-header-inv>tr>td:nth-child(5) {
    width: 8%;
}

.main-list-header-inv>tr>td:nth-child(6) {
    width: 8%;
}

.main-list-header-inv>tr>td:nth-child(7) {
    width: 10%;
    text-align: right;
}

.main-list-header-inv>tr>td:nth-child(8) {
    width: 8%;
    text-align: right;
}

.main-list-header-inv>tr>td:nth-child(9) {
    width: 14%;
    text-align: right;
}

.main-list-header-inv>tr>td:nth-child(10) {
    width: 6%;
    text-align: center;
}

.clickable-row-inv {
    height: 60px;
    border: 1px solid #C0C0C0;
}

.clickable-row-inv:hover {
    background: #D3DDDF;
}

.clickable-row-inv>td {
    padding-top: 15px !important;
    font-size: 14px;
    color: #30373B;
}

.clickable-row-inv>td:first-child {
    padding-left: 35px !important;
    font-size: 16px;
    color: #F0592B !important;
    font-weight: 800;
}

.clickable-row-inv>td:nth-child(7) {
    text-align: right;
}

.clickable-row-inv>td:nth-child(8) {
    text-align: right;
}

.clickable-row-inv>td:nth-child(9) {
    text-align: right;
}

.clickable-row-inv>td:nth-child(10) {
    text-align: center;
}

.main-list-header-wo {
    background: #30373B;
    color: #f5fafd;
}

.main-list-header-wo>tr {
    border: 1px solid #C0C0C0;
    height: 45px;
}

.main-list-header-wo>tr>td {
    padding-top: 10px !important;
    font-size: 14px;
    font-weight: 600;
}

.main-list-header-wo>tr>td:first-child {
    text-align: right;
    width: 10%
}

.main-list-header-wo>tr>td:nth-child(2) {
    padding-left: 20px;
    width: 20%;
}

.main-list-header-wo>tr>td:nth-child(3) {
    width: 15%;
}

.main-list-header-wo>tr>td:nth-child(4) {
    width: 15%;
}

.main-list-header-wo>tr>td:nth-child(5) {
    width: 15%;
}

.main-list-header-wo>tr>td:nth-child(6) {
    text-align: center;
    width: 15%;
}

.clickable-row-wo {
    height: 60px;
    border: 1px solid #C0C0C0;
}

.clickable-row-wo:hover {
    background: #D3DDDF;
}

.clickable-row-wo>td {
    padding-top: 15px !important;
    font-size: 14px;
    color: #30373B;
}

.clickable-row-wo>td:first-child {
    text-align: right;
}

.clickable-row-wo>td:nth-child(2) {
    padding-left: 20px;
    font-size: 16px;
    color: #F0592B !important;
    font-weight: 800;
}

.clickable-row-wo>td:nth-child(6) {
    text-align: center;
}

.main-list-header-wo-all {
    background: #30373B;
    color: #f5fafd;
}

.main-list-header-wo-all>tr {
    border: 1px solid #C0C0C0;
    height: 45px;
}

.main-list-header-wo-all>tr>td {
    padding-top: 10px !important;
    font-size: 14px;
    font-weight: 600;
}

.main-list-header-wo-all>tr>td:first-child {
    text-align: right;
}

.main-list-header-wo-all>tr>td:nth-child(2) {
    padding-left: 40px !important;
}

.main-list-header-wo-all>tr>td:nth-child(3) {
    padding-left: 40px !important;
}

.main-list-header-wo-all>tr>td:nth-child(4) {
    padding-left: 80px !important;
}

.main-list-header-wo-all>tr>td:nth-child(5) {
    padding-left: 40px !important;
}

.main-list-header-wo-all>tr>td:nth-child(8) {
    padding-left: 12px !important;
}

.clickable-row-wo-all {
    height: 60px;
    border: 1px solid #C0C0C0;
}

.clickable-row-wo-all:hover {
    background: #D3DDDF;
}

.clickable-row-wo-all>td {
    padding-top: 15px !important;
    font-size: 14px;
    color: #30373B;
}

.clickable-row-wo-all>td:first-child {
    text-align: right;
}

.clickable-row-wo-all>td:nth-child(2) {
    padding-left: 40px !important;
    font-size: 16px;
    color: #F0592B !important;
    font-weight: 800;
}

.clickable-row-wo-all>td:nth-child(3) {
    padding-left: 40px !important;
}

.clickable-row-wo-all>td:nth-child(4) {
    padding-left: 80px !important;
}

.clickable-row-wo-all>td:nth-child(5) {
    padding-left: 40px !important;
}

.clickable-row-wo-all>td:nth-child(9) {
    text-align: center;
}

.clickable-row-wo-all>td:nth-child(9)>img.disabled {
    cursor: not-allowed;
}

.main-list-header-sticker {
    background: #30373B;
    color: #f5fafd;
}

.main-list-header-sticker>tr {
    border: 1px solid #C0C0C0;
    height: 45px;
}

.main-list-header-sticker>tr>td {
    padding-top: 10px !important;
    font-size: 14px;
    font-weight: 600;
}

.main-list-header-sticker>tr>td:first-child {
    padding-left: 15px !important;
}


/*.main-list-header-sticker>tr>td:nth-child(2) {
    padding-left: 40px !important;
}

.main-list-header-sticker>tr>td:nth-child(3) {
    padding-left: 40px !important;
}

.main-list-header-sticker>tr>td:nth-child(4) {
    padding-left: 80px !important;
}

.main-list-header-sticker>tr>td:nth-child(5) {
    padding-left: 40px !important;
}*/

.clickable-row-sticker {
    height: 60px;
    border: 1px solid #C0C0C0;
}

.clickable-row-sticker:hover {
    background: #D3DDDF;
}

.clickable-row-sticker>td {
    padding-top: 15px !important;
    font-size: 14px;
    color: #30373B;
}

.clickable-row-sticker>td:first-child {
    padding-left: 15px !important;
}

.clickable-row-sticker>td:nth-child(2), .clickable-row-sticker>td:nth-child(3) {
    color: #F0592B !important;
    font-weight: 800;
}


/*
.clickable-row-sticker>td:nth-child(3) {
    padding-left: 40px !important;
}

.clickable-row-sticker>td:nth-child(4) {
    padding-left: 80px !important;
}

.clickable-row-sticker>td:nth-child(5) {
    padding-left: 40px !important;
}*/

.inv-heading {
    font-size: 18px;
    padding: 25px 0px 20px 0px;
    font-weight: 600;
    color: #30373B;
}

.workOrderSelection-menu {
    background: #91A9AF;
    color: #f5fafd;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: #000;
}

.modal-body .inputQcModel {
    width: 50%;
    margin-left: 20px;
    border-bottom: 1px solid darkgrey;
}

.modal-body .inputQcLabel {
    width: 20%;
    margin-left: 40px
}

.modal-dialog {
    padding-top: 10%;
}

.inv-search-input {
    max-width: 150px;
}


/* Stock Transfer */

.main-list-header-st {
    background: #30373B;
    color: #f5fafd;
}

.main-list-header-st>tr {
    border: 1px solid #C0C0C0;
    height: 45px;
}

.main-list-header-st>tr>td {
    padding-top: 10px !important;
    font-size: 14px;
    font-weight: 600;
}

.main-list-header-st>tr>td:first-child {
    width: 20%;
    padding-left: 30px !important;
}

.main-list-header-st>tr>td:nth-child(2) {
    width: 8%;
}

.main-list-header-st>tr>td:nth-child(3) {
    width: 7%;
    text-align: right;
}

.main-list-header-st>tr>td:nth-child(4) {
    padding-left: 25px;
    width: 10%;
}

.main-list-header-st>tr>td:nth-child(5) {
    width: 10%;
    text-align: right;
}

.main-list-header-st>tr>td:nth-child(6) {
    width: 5%;
}

.main-list-header-st>tr>td:nth-child(7) {
    width: 5%;
}

.clickable-row-st {
    cursor: pointer;
    height: 60px;
    border: 1px solid #C0C0C0;
}

.clickable-row-st:hover {
    background: #D3DDDF;
}

.clickable-row-st>td {
    padding-top: 15px !important;
    font-size: 14px;
    color: #30373B;
}

.clickable-row-st>td:first-child {
    padding-left: 30px !important;
    font-size: 16px;
    color: #F0592B !important;
    font-weight: 700;
}

.clickable-row-st>td:nth-child(3) {
    text-align: right;
}

.clickable-row-st>td:nth-child(4) {
    padding-left: 25px;
}

.clickable-row-st>td:nth-child(5) {
    color: #00ACE4 !important;
    font-weight: 600;
    text-align: right;
}

.inventory-avail {
    background-color: #E5EFEF;
    border-radius: 5px;
    line-height: 1.25;
    padding-top: 3px;
    padding-bottom: 3px;
    top: -2px;
    width: 28%;
}
/* Demo for vertical bars */

.progress-indicator.stepped.stacked {
    display: inline-block;
}

.progress-indicator.stepped.stacked>li {
    height: 50px;
}

.progress-indicator.stepped.stacked>li .bubble {
    padding: 0.1em;
}

.progress-indicator.stepped.stacked>li:first-of-type .bubble {
    padding: 0.5em;
}

.progress-indicator.stepped.stacked>li:last-of-type .bubble {
    padding: 0em;
}


/* Nocenter */

.progress-indicator.nocenter.stacked>li {
    min-height: 40px;
}

.progress-indicator.nocenter.stacked>li span {
    display: block;
}

.vendor-acc-data-row {
    border-right: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    background-color: #FEFFFF !important;
}

.vendor-acc-data-row>td>.row:first-child {
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
}

.vendor-acc-data-row>td>.row:first-child>.col-xs-5, .vendor-acc-data-row>td>.row:first-child>.col-xs-7 {
    padding-bottom: 10px;
}

.vendor-acc-data-row>td>.row>.col-xs-5 {
    padding-left: 40px !important;
}

.vendor-acc-data-row>td>.row:first-child>.col-xs-5, .vendor-acc-data-row>td>.row:nth-child(2)>.col-xs-5 {
    border-right: 1px solid #C0C0C0;
}

.vendor-acc-data-row>td>.row:nth-child(2)>.col-xs-7>.row>.col-xs-4 {
    padding-right: 35px !important;
}

.vendor-acc-data-row>td>.row>.col-xs-12, .edit-vendor-row>.col-xs-12 {
    padding-left: 40px !important;
}

.vendor-acc-data-row span {
    font-size: 12px;
    color: #00ACE4;
    font-weight: 600;
}

.vendor-acc-data-row hr {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
