<!--
<script type="text/javascript">
    $(function() {
        // Setting focus
        $('input[name="email"]').focus();
        // Setting width of the alert box
        var alert = $('.alert');
        var formWidth = $('.bootstrap-admin-login-form').innerWidth();
        var alertPadding = parseInt($('.alert').css('padding'));
        if (isNaN(alertPadding)) {
            alertPadding = parseInt($(alert).css('padding-left'));
        }
        $('.alert').width(formWidth - 2 * alertPadding);
    });
</script>-->

<section class="login-signup">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="logo">
                    <!-- LOGO -->
                    <img src="images/logo-big.png" alt="">
                    <span style="position: relative;">
                            <span style="position: absolute;top:-17px;">Beta</span>
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form class="login-form">
                    <!-- Heading -->
                    <h1>Log In</h1>
                    <!-- Email Area -->
                    <div class="row">
                        <!-- User Icon -->
                        <div class="user-icon col-xs-1 centered">
                            <img src="images/svg/user_id.svg" />
                        </div>
                        <!-- Input for Email -->
                        <div class="col-xs-10">
                            <input id="loginEmail" type="text" class="text-lowercase emailInput" data-ng-model="user.email" ng-blur="validateEmail()"  my-enter="login()" placeholder="Email ID*" >
                        </div>
                        <!-- Check/Cross Icon -->
                        <div class="validate-icon col-xs-1">
                            <span class="tick-icon" ng-show="errorMsg.email==''&& user.email!=''">
                                <img src="images/svg/validation_correct.svg"/>
                                </span>
                            <span class="cross-icon" ng-hide="errorMsg.email==''">
                                <img src="images/svg/validation_wrong.svg"/>
                            </span>
                        </div>
                    </div>
                    <!-- Horizontal Line -->
                    <div class="row">
                        <div class="generic-hr col-xs-12">
                            <hr>
                        </div>
                    </div>
                    <!-- Error or Success Message -->
                    <div class="row message-row">
                        <div class="label col-xs-12">
                            <span class="error-msg">{{errorMsg.email}}</span>
                        </div>
                    </div>
                    <!-- Password Area -->

                    <div class="row">
                        <!-- Unlock Icon -->
                        <div class="unlock-icon col-xs-1">
                            <img src="images/svg/password.svg">
                        </div>
                        <!-- Input for Password -->
                        <div class="col-xs-10">
                            <input id="loginPassword" type="password" caps-lock data-ng-model="user.password" ng-blur="validatePassword()"  my-enter="login()" placeholder="Password*">
                        </div>
                        <!-- Cross Icon -->
                        <div class="validate-icon col-xs-1">
                            <span class="tick-icon" ng-show="errorMsg.password==''&& user.password!=''">
                                <img src="images/svg/validation_correct.svg"/>
                                </span>
                            <span class="cross-icon" ng-hide="errorMsg.password==''">
                                <img src="images/svg/validation_wrong.svg"/>
                            </span>
                        </div>
                    </div>
                    <!-- Horizontal Line -->
                    <div class="row">
                        <div class="generic-hr col-xs-12">
                            <hr>
                        </div>
                    </div>
                    <!-- Error or Success Message -->
                    <div class="row message-row">
                        <div class="label col-xs-12">
                            <span class="error-msg">{{errorMsg.password}}</span>
                        </div>
                    </div>
                    <div ng-show='capsLock' class="row message-row">
                        <div class="text-left col-xs-12">
                            <p class="error-msg" >Caps lock is on</p>
                        </div>
                    </div>


                    <!-- Login Button -->
                    <div class="row">
                        <div class="login-btn col-xs-12">
                            <button id="loginSubmit" type="submit" ng-click="login()" >Log In</button>
                        </div>
                    </div>

                    <!-- Forgot Password -->
                    <div class="row">
                        <div class="forgot-pwd col-xs-12">
                            <a id="loginForgotPassword" href="javascript:void(0)" ng-click="goTo('/forgotPassword')">Forgot password ?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- Signup -->
        <div class="signup-area">
            <div class="row">
                <div class="col-xs-12">
                    <!--<a href="#/signUp">Sign Up</a>-->
                    If you're not a registered user, please contact <a id="loginSupport" href="mailto:support@gscmaven.com">support@gscmaven.com</a>
                </div>
            </div>
        </div>
        <div class="info-area">
            <div class="row">
                <div class="left-info col-xs-4">
                    <a id="loginTerms" tabindex="9" class="terms-link" data-target="TnC" ng-click="OpenTnC()">Terms of Service</a> | <a id="loginPrivacy" tabindex="10" ng-click="PrivacyModal()" class="terms-link">Privacy Policy</a>

                </div>
                <div class="right-info col-xs-8">
                    Copyright<i class="fa fa-copyright fa-fw" aria-hidden="true"></i>2017 Glaucus Logistics Private Limited
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="loginError" role="dialog" aria-labelledby="myModalLabelled" aria-hidden="true" >
    <div class="modal-dialog modal-lg" style="max-width:699px;top:25%;">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;"
                 height="100px">
                <button type="button" class="close" data-dismiss="modal" ng-click="cancelSingleOrder()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <p class="dialog-heading-p" id="myModalLabelled">Email Not Verified</p>

            </div>
            <div class="modal-body" style="overflow-x: hidden;padding-top: 0px">
                <br><br>
                <h4 class="text-center">Your email has not been verified yet. Please click on the activation link sent to your email or <a href="" ng-click="resendActivationLink()">click here</a> to resend the activation link.</h4>
                <br>
            </div>
            <div class="modal-footer" style="background-color: #30373B; min-height: 60px;">
                <!--<button type="button" class="cancel-btn" data-dismiss="modal">Cancel-->
                <!--</button>-->
                <!--<button type="submit" class="action-btn" ng-click="inTransit(poData)">Yes</button>-->
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="TnC" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;" height="100px">
                Terms and Conditions
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>

            </div>
            <div class="modal-body" style="overflow-x: hidden;padding-top: 0px;overflow-y:hidden;height:90vh;">
                <!--<object data="{{content}}" type="application/pdf" target="_blank" style="width:100%;height:100vh;">view</object>-->
                <iframe ng-src="{{TnC}}" style="width:100%;height:100vh;"></iframe>
            </div>
            <div class="modal-footer" style="background-color: #30373B; min-height: 60px;">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="privacy" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;" height="100px">
                Privacy Policy
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>

            </div>
            <div class="modal-body" style="overflow-x: hidden;padding-top: 0px;overflow-y:hidden;height:90vh;">
                <iframe ng-src="{{privacyPolicy}}" style="width:100%;height:100vh;"></iframe>
            </div>
            <div class="modal-footer" style="background-color: #30373B; min-height: 60px;">

            </div>
        </div>
    </div>
</div>
